workflows/ai-agent-workflow.json
{"updatedAt":"2026-01-16T20:56:08.000Z","createdAt":"2026-01-08T17:39:23.201Z","id":"0YccjewDo80YBiaq","name":"AI Agent workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"path":"business-plan-generator-v3","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-2128,800],"id":"f19745a7-19d9-47fe-a3df-3e199d4d3bfb","name":"00_Entry_Trigger","webhookId":"business-plan-generator-v3"},{"parameters":{"assignments":{"assignments":[{"id":"session-id","name":"session_id","value":"={{ $json.body.session_id }}","type":"string"},{"id":"email","name":"email","value":"={{ $json.body.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,800],"id":"f31b45db-6d0e-4ce0-93b1-1e208aae367e","name":"01_Normalize_Input"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ioz4LOcSiH5aqpd7","mode":"list","cachedResultName":"idea_sessions"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.session_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1728,800],"id":"d220a3b2-ec46-4918-8037-07c36a588e81","name":"02_Fetch_Session_Data"},{"parameters":{"assignments":{"assignments":[{"id":"idea-summary","name":"idea_summary","value":"={{ $json.idea_summary }}","type":"string"},{"id":"answers-parsed","name":"answers","value":"={{ $json.answers }}","type":"string"},{"id":"email","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"session-id","name":"session_id","value":"={{ $json.session_id }}","type":"string"},{"id":"business-type","name":"business_type","value":"={{ JSON.parse($json.answers).Q03 || 'general business' }}","type":"string"},{"id":"target-customer","name":"target_customer","value":"={{ JSON.parse($json.answers).Q07 || 'general consumer' }}","type":"string"},{"id":"competitors","name":"competitors_raw","value":"={{ JSON.parse($json.answers).Q23 || '' }}","type":"string"},{"id":"problem-statement","name":"problem_statement","value":"={{ JSON.parse($json.answers).Q08 || '' }}","type":"string"},{"id":"industry","name":"industry","value":"={{ JSON.parse($json.answers).Q03 || 'technology' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1520,800],"id":"bff08c34-f385-4705-8e4d-b16a72206c7b","name":"03_Extract_Key_Data"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":2000,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1328,800],"id":"fc641cf2-7756-49a2-9969-7b8da9fa4af5","name":"04_Generate_Research_Queries","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"parsed-queries","name":"research_queries","value":"={{ JSON.parse($json.message.content) }}","type":"object"},{"id":"passthrough-idea","name":"idea_summary","value":"={{ $node['03_Extract_Key_Data'].json.idea_summary }}","type":"string"},{"id":"passthrough-answers","name":"answers","value":"={{ $node['03_Extract_Key_Data'].json.answers }}","type":"string"},{"id":"passthrough-session","name":"session_id","value":"={{ $node['03_Extract_Key_Data'].json.session_id }}","type":"string"},{"id":"passthrough-email","name":"email","value":"={{ $node['03_Extract_Key_Data'].json.email }}","type":"string"},{"id":"passthrough-industry","name":"industry","value":"={{ $node['03_Extract_Key_Data'].json.industry }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-816,800],"id":"64c5ae46-0887-4473-88ad-f879c8228b09","name":"05_Parse_Research_Queries"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-624,800],"id":"155a0025-d6eb-4614-a440-e4005e221fbb","name":"06_Split_To_Parallel_Research"},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.web_searches[0] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[0,0],"id":"4be8cd55-35e9-46f1-a595-19efd98fa39f","name":"07a_Tavily_Web_Search_1","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.web_searches[1] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[208,0],"id":"c0db0978-80c7-4301-92e4-35dea97288dc","name":"07b_Tavily_Web_Search_2","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.web_searches[2] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[400,0],"id":"555d50d4-8de3-49b2-9985-84cb939ffc93","name":"07c_Tavily_Web_Search_3","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.web_searches[3] || $node['05_Parse_Research_Queries'].json.research_queries.web_searches[0] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[608,0],"id":"fe76e87f-fc83-4de0-a15d-21f0ab1435c8","name":"07d_Tavily_Web_Search_4","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.web_searches[4] || $node['05_Parse_Research_Queries'].json.research_queries.web_searches[1] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[800,0],"id":"46bf0eb4-ac5f-486a-950e-56e522ff1154","name":"07e_Tavily_Web_Search_5","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"web_research_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1008,0],"id":"3c910f9d-0610-46ea-8657-205d3ca6cb9b","name":"07f_Aggregate_Web_Research"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":3000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1200,0],"id":"75705237-521b-45dd-b6cc-f731f275a739","name":"07g_Synthesize_Web_Research","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"operation":"Run an Actor"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[0,208],"id":"55c9454a-45dd-4fd4-b77e-6efed401fe27","name":"08a_Apify_Reddit_Scrape"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[400,208],"id":"04e9b517-a308-4ff9-8188-50e0b50561eb","name":"08b_Analyze_Reddit_Data","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.market_trend_queries[0] }} market size statistics 2024 2025","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[0,400],"id":"abaab9ff-9411-461f-8964-3988f066140f","name":"09a_Tavily_Market_Trends_1","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.market_trend_queries[1] || $node['05_Parse_Research_Queries'].json.research_queries.industry_keywords[0] }} industry trends forecast","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[208,400],"id":"77849600-caaf-43bd-b076-87378f358901","name":"09b_Tavily_Market_Trends_2","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.market_trend_queries[2] || $node['05_Parse_Research_Queries'].json.research_queries.industry_keywords[1] }} growth rate TAM SAM","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[400,400],"id":"c77eb00a-2f5b-4c78-9a07-8ba861dbcd3b","name":"09c_Tavily_Market_Trends_3","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"market_research_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,400],"id":"62d823c7-1e4e-4c39-8f99-17ab1293216d","name":"09d_Aggregate_Market_Research"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":3000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,400],"id":"0574504b-684e-44e8-aafd-78080f094b35","name":"09e_Synthesize_Market_Research","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.competitor_names[0] }} company overview pricing features","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[0,608],"id":"9d69033a-ee29-47b9-b479-7e3dab976614","name":"10a_Tavily_Competitor_1","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.competitor_names[1] || $node['05_Parse_Research_Queries'].json.research_queries.competitor_names[0] }} company overview pricing features","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[208,608],"id":"70ec2b82-b854-4663-9988-f45d29b63930","name":"10b_Tavily_Competitor_2","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.competitor_names[2] || $node['05_Parse_Research_Queries'].json.research_queries.competitor_names[0] }} company overview pricing features","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[400,608],"id":"56c1a13a-441f-4d3a-85b2-db797a8773ac","name":"10c_Tavily_Competitor_3","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['05_Parse_Research_Queries'].json.research_queries.competitor_names[3] || $node['05_Parse_Research_Queries'].json.research_queries.competitor_names[1] }} company overview pricing features reviews","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[608,608],"id":"8599fd33-4f62-4802-8266-b4fbd6803054","name":"10d_Tavily_Competitor_4","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"competitor_research_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[800,608],"id":"87d12bea-7527-4738-a891-6ef38a7e115b","name":"10e_Aggregate_Competitor_Research"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1008,608],"id":"387bc478-0b1e-41d8-b830-6247265a2863","name":"10f_Synthesize_Competitor_Research","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"operation":"google_trends","q":"={{ $node['05_Parse_Research_Queries'].json.research_queries.google_trends_terms[0] }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[0,800],"id":"579d9dff-c5e6-42d7-a759-e2172d48be89","name":"11a_SerpAPI_Google_Trends_1","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"operation":"google_trends","q":"={{ $node['05_Parse_Research_Queries'].json.research_queries.google_trends_terms[1] }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[208,800],"id":"50467ab6-c14e-4bc2-8e71-c79391392ec2","name":"11b_SerpAPI_Google_Trends_2","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"operation":"google_trends","q":"={{ $node['05_Parse_Research_Queries'].json.research_queries.google_trends_terms[2] }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[400,800],"id":"6bc302d0-22af-45eb-8815-45769f609b9c","name":"11c_SerpAPI_Google_Trends_3","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"trends_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,800],"id":"1bf51697-6215-4ada-8cbe-b95e3ba306a1","name":"11d_Aggregate_Trends"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":2000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,800],"id":"76b877b1-959a-4e0c-b978-b85ce686ba71","name":"11e_Synthesize_Trends","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"q":"={{ $node['05_Parse_Research_Queries'].json.research_queries.news_search_queries[0] }}","additionalFields":{"tbm":"nws"},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[0,1008],"id":"4b4d5e1d-c28d-431e-9fc7-506f0c8260c5","name":"12a_SerpAPI_News_1","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"q":"={{ $node['05_Parse_Research_Queries'].json.research_queries.news_search_queries[1] || $node['05_Parse_Research_Queries'].json.research_queries.news_search_queries[0] }}","additionalFields":{"tbm":"nws"},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[208,1008],"id":"9794fb3b-f319-43bb-be8e-6e1a1d96c458","name":"12b_SerpAPI_News_2","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"q":"={{ $node['05_Parse_Research_Queries'].json.research_queries.news_search_queries[2] || $node['05_Parse_Research_Queries'].json.research_queries.news_search_queries[0] }}","additionalFields":{"tbm":"nws"},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[400,1008],"id":"0422fdf4-8362-474e-a162-6957c0d7ade2","name":"12c_SerpAPI_News_3","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"news_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,1008],"id":"09d54ec1-89d5-4c8a-a89a-9c13ad1e1ba8","name":"12d_Aggregate_News"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":2500,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,1008],"id":"6c5edeee-ba9e-49b7-98d3-6ba8fc9e1e14","name":"12e_Synthesize_News","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"url":"=https://hn.algolia.com/api/v1/search?query={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.hackernews_queries[0]) }}&tags=story&hitsPerPage=30","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,1200],"id":"85a4df1d-1b4e-4387-b6f6-d0d53b746f76","name":"13a_HackerNews_Search_1"},{"parameters":{"url":"=https://hn.algolia.com/api/v1/search?query={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.hackernews_queries[1] || $node['05_Parse_Research_Queries'].json.research_queries.hackernews_queries[0]) }}&tags=story&hitsPerPage=30","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,1200],"id":"d62d15fd-9b77-40d6-91ec-6c6ca0e021a6","name":"13b_HackerNews_Search_2"},{"parameters":{"url":"=https://hn.algolia.com/api/v1/search?query={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.hackernews_queries[2] || $node['05_Parse_Research_Queries'].json.research_queries.hackernews_queries[0]) }}&tags=story&hitsPerPage=30","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,1200],"id":"6ea1a94b-b7a4-4e6e-9a82-90ba6eb75c82","name":"13c_HackerNews_Search_3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"hackernews_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,1200],"id":"c44c12b0-8797-4f2a-81fc-94be58919fdd","name":"13d_Aggregate_HackerNews"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":3000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,1200],"id":"48ae007b-d49d-4e72-8b4f-08097084c032","name":"13e_Synthesize_HackerNews","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"url":"=https://api.twitter.com/2/tweets/search/recent?query={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.twitter_search_terms[0]) }}&max_results=50&tweet.fields=created_at,public_metrics,author_id","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,1408],"id":"90c027e1-4681-41bd-bd89-14c7c81be896","name":"14a_Twitter_Search_1"},{"parameters":{"url":"=https://api.twitter.com/2/tweets/search/recent?query={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.twitter_search_terms[1] || $node['05_Parse_Research_Queries'].json.research_queries.twitter_search_terms[0]) }}&max_results=50&tweet.fields=created_at,public_metrics,author_id","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,1408],"id":"6f9d5499-7d4b-4f22-8b52-cc5ec6b0ae35","name":"14b_Twitter_Search_2"},{"parameters":{"url":"=https://api.twitter.com/2/tweets/search/recent?query={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.twitter_search_terms[2] || $node['05_Parse_Research_Queries'].json.research_queries.twitter_search_terms[0]) }}&max_results=50&tweet.fields=created_at,public_metrics,author_id","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,1408],"id":"d254f503-3129-4248-b8e8-833fca9b6732","name":"14c_Twitter_Search_3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"twitter_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,1408],"id":"084ec040-193e-47dd-b219-be7db8a78f2b","name":"14d_Aggregate_Twitter"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":2500,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,1408],"id":"c0d5da1f-1538-4ecb-aef9-a7057c8a54ab","name":"14e_Synthesize_Twitter","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/search?part=snippet&q={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.youtube_search_queries[0]) }}&type=video&maxResults=20&order=viewCount&key={{ $credentials.httpQueryAuth.value }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,1600],"id":"aea168d4-edcb-4a77-b905-d51efd768f09","name":"15a_YouTube_Search_1"},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/search?part=snippet&q={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.youtube_search_queries[1] || $node['05_Parse_Research_Queries'].json.research_queries.youtube_search_queries[0]) }}&type=video&maxResults=20&order=viewCount&key={{ $credentials.httpQueryAuth.value }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,1600],"id":"640e8f3a-13ba-48bb-8117-94f54b5fe9ad","name":"15b_YouTube_Search_2"},{"parameters":{"url":"=https://www.googleapis.com/youtube/v3/search?part=snippet&q={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.youtube_search_queries[2] || $node['05_Parse_Research_Queries'].json.research_queries.youtube_search_queries[0]) }}&type=video&maxResults=20&order=viewCount&key={{ $credentials.httpQueryAuth.value }}","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,1600],"id":"2b0f0c91-7651-4aef-9e9e-02a3c8758295","name":"15c_YouTube_Search_3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"youtube_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,1600],"id":"420bcd39-b82e-4447-896c-e03cc8fc6a17","name":"15d_Aggregate_YouTube"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":2500,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,1600],"id":"d6d2b87f-7edf-4939-ae03-a73e396b1bdd","name":"15e_Synthesize_YouTube","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"url":"=https://news.google.com/rss/search?q={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.rss_feed_topics[0]) }}&hl=en-US&gl=US&ceid=US:en","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[0,1808],"id":"ea0b1dbd-977b-44d3-b485-25acb8fc06f5","name":"16a_RSS_Google_News_1"},{"parameters":{"url":"=https://news.google.com/rss/search?q={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.rss_feed_topics[1] || $node['05_Parse_Research_Queries'].json.research_queries.rss_feed_topics[0]) }}&hl=en-US&gl=US&ceid=US:en","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[208,1808],"id":"10c2d0c4-43e4-48d0-9b23-a01237e541a7","name":"16b_RSS_Google_News_2"},{"parameters":{"url":"=https://news.google.com/rss/search?q={{ encodeURIComponent($node['05_Parse_Research_Queries'].json.research_queries.rss_feed_topics[2] || $node['05_Parse_Research_Queries'].json.research_queries.rss_feed_topics[0]) }}&hl=en-US&gl=US&ceid=US:en","options":{}},"type":"n8n-nodes-base.rssFeedRead","typeVersion":1.1,"position":[400,1808],"id":"a12520eb-7a6f-4627-89a9-73fe90f3d516","name":"16c_RSS_Google_News_3"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"rss_results","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[608,1808],"id":"4c1c2fc6-76a3-4f05-855c-63febc125fc7","name":"16d_Aggregate_RSS"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":2500,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[800,1808],"id":"d597bd69-d21f-4715-ace2-e527a8fb8c30","name":"16e_Synthesize_RSS","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1648,448],"id":"2c950a32-6105-4b4f-9615-6f8731fca76b","name":"17_Merge_All_Research"},{"parameters":{"assignments":{"assignments":[{"id":"web-research","name":"web_research","value":"={{ $node['07g_Synthesize_Web_Research'].json.message.content }}","type":"string"},{"id":"reddit-research","name":"reddit_research","value":"={{ $node['08b_Analyze_Reddit_Data'].json.message.content }}","type":"string"},{"id":"market-research","name":"market_research","value":"={{ $node['09e_Synthesize_Market_Research'].json.message.content }}","type":"string"},{"id":"competitor-research","name":"competitor_research","value":"={{ $node['10f_Synthesize_Competitor_Research'].json.message.content }}","type":"string"},{"id":"trends-research","name":"trends_research","value":"={{ $node['11e_Synthesize_Trends'].json.message.content }}","type":"string"},{"id":"news-research","name":"news_research","value":"={{ $node['12e_Synthesize_News'].json.message.content }}","type":"string"},{"id":"hackernews-research","name":"hackernews_research","value":"={{ $node['13e_Synthesize_HackerNews'].json.message.content }}","type":"string"},{"id":"twitter-research","name":"twitter_research","value":"={{ $node['14e_Synthesize_Twitter'].json.message.content }}","type":"string"},{"id":"youtube-research","name":"youtube_research","value":"={{ $node['15e_Synthesize_YouTube'].json.message.content }}","type":"string"},{"id":"rss-research","name":"rss_research","value":"={{ $node['16e_Synthesize_RSS'].json.message.content }}","type":"string"},{"id":"session-id","name":"session_id","value":"={{ $node['05_Parse_Research_Queries'].json.session_id }}","type":"string"},{"id":"email","name":"email","value":"={{ $node['05_Parse_Research_Queries'].json.email }}","type":"string"},{"id":"idea-summary","name":"idea_summary","value":"={{ $node['05_Parse_Research_Queries'].json.idea_summary }}","type":"string"},{"id":"answers","name":"answers","value":"={{ $node['05_Parse_Research_Queries'].json.answers }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1840,448],"id":"3c4abf9b-b1b6-4748-8f18-ce69b09e5996","name":"18_Consolidate_All_Research"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Ioz4LOcSiH5aqpd7","mode":"list","cachedResultName":"idea_sessions"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"research_web":"={{ $json.web_research }}","research_reddit":"={{ $json.reddit_research }}","research_market":"={{ $json.market_research }}","research_competitor":"={{ $json.competitor_research }}","research_trends":"={{ $json.trends_research }}","research_news":"={{ $json.news_research }}","research_hackernews":"={{ $json.hackernews_research }}","research_twitter":"={{ $json.twitter_research }}","research_youtube":"={{ $json.youtube_research }}","research_rss":"={{ $json.rss_research }}","research_completed_at":"={{ $now.toISO() }}","status":"research_complete"},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2048,448],"id":"7692484f-bddb-423c-a26d-ffd0723388dc","name":"19_Save_All_Research"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2240,448],"id":"34f26942-a7e2-4fb8-8fe8-c91a438b3db8","name":"20_Split_To_Document_Generation"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":10000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2448,240],"id":"1fec326d-86d4-42e7-acb5-55b5dcf955ce","name":"21a_Write_Business_Plan","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":8000,"temperature":0.5}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2448,448],"id":"b47434b4-2ff3-4463-9be6-2eac02421450","name":"21b_Write_Positioning_Strategy","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":8000,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2448,640],"id":"b533c91e-0413-45b4-a6b9-f126d68009cb","name":"21c_Write_Competitive_Analysis","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[2752,448],"id":"e4de86f9-635b-4cc0-8e22-09943956a05d","name":"22_Merge_Documents"},{"parameters":{"assignments":{"assignments":[{"id":"business-plan","name":"business_plan_content","value":"={{ $node['21a_Write_Business_Plan'].json.message.content }}","type":"string"},{"id":"positioning-doc","name":"positioning_content","value":"={{ $node['21b_Write_Positioning_Strategy'].json.message.content }}","type":"string"},{"id":"competitive-doc","name":"competitive_content","value":"={{ $node['21c_Write_Competitive_Analysis'].json.message.content }}","type":"string"},{"id":"session-id","name":"session_id","value":"={{ $node['18_Consolidate_All_Research'].json.session_id }}","type":"string"},{"id":"email","name":"email","value":"={{ $node['18_Consolidate_All_Research'].json.email }}","type":"string"},{"id":"idea-summary","name":"idea_summary","value":"={{ $node['18_Consolidate_All_Research'].json.idea_summary }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2944,448],"id":"3c44ead5-5b58-49e1-8c5a-7fc2752d4bea","name":"23_Consolidate_Documents"},{"parameters":{"jsCode":"const data = $input.first().json;\nconst sessionId = data.session_id;\nconst timestamp = new Date().toISOString().split('T')[0];\n\nconst combinedContent = `# Complete Business Planning Package\n\n**Generated:** ${new Date().toISOString()}\n**Business Idea:** ${data.idea_summary}\n\n---\n\n# PART 1: COMPREHENSIVE BUSINESS PLAN\n\n${data.business_plan_content}\n\n---\n\n# PART 2: POSITIONING & STRATEGY\n\n${data.positioning_content}\n\n---\n\n# PART 3: COMPETITIVE ANALYSIS\n\n${data.competitive_content}\n\n---\n\n## Research Sources Used\n\nThis document was generated using research from:\n- Web search analysis (Tavily)\n- Reddit community insights (Apify)\n- Market data and trends\n- Competitor intelligence\n- Google Trends analysis (SerpAPI)\n- Recent news coverage (SerpAPI)\n- Hacker News discussions\n- Twitter/X sentiment\n- YouTube content analysis\n- RSS news aggregation\n\n*Please review and validate all information before use.*\n`;\n\nreturn [{\n  json: {\n    filename: `Complete_Business_Package_${sessionId}_${timestamp}.md`,\n    content: combinedContent,\n    session_id: sessionId,\n    email: data.email,\n    idea_summary: data.idea_summary,\n    business_plan: data.business_plan_content,\n    positioning: data.positioning_content,\n    competitive: data.competitive_content\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,448],"id":"da9d642d-ca53-42d1-b1b5-26a2ec0823b4","name":"24_Create_Combined_Document"},{"parameters":{"method":"POST","url":"https://api.cloudconvert.com/v2/jobs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tasks\": {\n    \"import-md\": {\n      \"operation\": \"import/raw\",\n      \"file\": {{ JSON.stringify($json.content) }},\n      \"filename\": \"document.md\"\n    },\n    \"convert-to-pdf\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-md\",\n      \"output_format\": \"pdf\",\n      \"engine\": \"pandoc\"\n    },\n    \"convert-to-docx\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-md\",\n      \"output_format\": \"docx\",\n      \"engine\": \"pandoc\"\n    },\n    \"export-pdf\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-to-pdf\"\n    },\n    \"export-docx\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-to-docx\"\n    }\n  },\n  \"tag\": \"{{ $json.session_id }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3344,448],"id":"f4921203-7a7c-4d67-b3b3-017b11f94ee5","name":"25_Convert_To_PDF_And_DOCX"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3552,448],"id":"7860261d-d8ed-43a2-a1c1-05992316fc9f","name":"26_Wait_For_Conversion","webhookId":"81252186-f59a-4229-bbdc-647aad974e09"},{"parameters":{"url":"=https://api.cloudconvert.com/v2/jobs/{{ $node['25_Convert_To_PDF_And_DOCX'].json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3744,448],"id":"421c70a6-89b4-44f4-bf42-a18676922bac","name":"27_Get_Download_URLs"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Ioz4LOcSiH5aqpd7","mode":"list","cachedResultName":"idea_sessions"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['24_Create_Combined_Document'].json.session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"document_business_plan":"={{ $node['24_Create_Combined_Document'].json.business_plan }}","document_positioning":"={{ $node['24_Create_Combined_Document'].json.positioning }}","document_competitive":"={{ $node['24_Create_Combined_Document'].json.competitive }}","pdf_download_url":"={{ $json.data.tasks.find(t => t.name === 'export-pdf').result.files[0].url }}","docx_download_url":"={{ $json.data.tasks.find(t => t.name === 'export-docx').result.files[0].url }}","documents_generated_at":"={{ $now.toISO() }}","status":"documents_ready","expires_at":"={{ $now.plus({ hours: 48 }).toISO() }}"},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[3952,448],"id":"a89babcf-3960-453c-aeb9-783fe17aabe7","name":"28_Save_Documents"},{"parameters":{"fromEmail":"noreply@yourdomain.com","toEmail":"={{ $node['24_Create_Combined_Document'].json.email }}","subject":"🚀 Your Business Plan Package is Ready!","html":"=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h1 style=\"color: #2563eb;\">Your Business Plan Package is Ready!</h1>\n  \n  <p>We've completed comprehensive research and analysis for:</p>\n  \n  <blockquote style=\"background: #f3f4f6; padding: 15px; border-left: 4px solid #2563eb; margin: 20px 0;\">\n    <strong>{{ $node['24_Create_Combined_Document'].json.idea_summary }}</strong>\n  </blockquote>\n  \n  <h2>📊 Research from 10 Sources</h2>\n  <ul style=\"color: #4b5563;\">\n    <li>Web search (Tavily)</li>\n    <li>Reddit insights (Apify)</li>\n    <li>Market data</li>\n    <li>Competitor intel</li>\n    <li>Google Trends (SerpAPI)</li>\n    <li>News coverage (SerpAPI)</li>\n    <li>Hacker News</li>\n    <li>Twitter/X sentiment</li>\n    <li>YouTube analysis</li>\n    <li>RSS aggregation</li>\n  </ul>\n  \n  <div style=\"background: #dbeafe; padding: 20px; border-radius: 8px; margin: 20px 0; text-align: center;\">\n    <a href=\"{{ $json.data.tasks.find(t => t.name === 'export-pdf').result.files[0].url }}\" \n       style=\"background: #2563eb; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: bold; margin: 5px;\">\n      📥 Download PDF\n    </a>\n    <a href=\"{{ $json.data.tasks.find(t => t.name === 'export-docx').result.files[0].url }}\" \n       style=\"background: #059669; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: bold; margin: 5px;\">\n      📄 Download DOCX\n    </a>\n  </div>\n  \n  <p style=\"color: #dc2626; font-size: 14px;\">⚠️ Links expire in 48 hours.</p>\n  \n  <hr style=\"border: none; border-top: 1px solid #e5e7eb; margin: 30px 0;\">\n  \n  <p style=\"color: #6b7280; font-size: 12px;\">\n    🔒 Your data will be automatically deleted after 7 days. Your billion-dollar idea stays yours.\n  </p>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[4144,448],"id":"104db66e-14f7-443b-a8c2-a4804f6e87d8","name":"29_Send_Email","webhookId":"093178da-2189-4e63-b51a-bc549aa52c4a"},{"parameters":{"assignments":{"assignments":[{"id":"success","name":"success","value":true,"type":"boolean"},{"id":"message","name":"message","value":"Business plan package generated and emailed successfully","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[4352,448],"id":"d796f326-9286-441b-89c3-e10f3dbc800d","name":"30_Final_Response"}],"connections":{"00_Entry_Trigger":{"main":[[{"node":"01_Normalize_Input","type":"main","index":0}]]},"01_Normalize_Input":{"main":[[{"node":"02_Fetch_Session_Data","type":"main","index":0}]]},"02_Fetch_Session_Data":{"main":[[{"node":"03_Extract_Key_Data","type":"main","index":0}]]},"03_Extract_Key_Data":{"main":[[{"node":"04_Generate_Research_Queries","type":"main","index":0}]]},"04_Generate_Research_Queries":{"main":[[{"node":"05_Parse_Research_Queries","type":"main","index":0}]]},"05_Parse_Research_Queries":{"main":[[{"node":"06_Split_To_Parallel_Research","type":"main","index":0}]]},"06_Split_To_Parallel_Research":{"main":[[{"node":"07a_Tavily_Web_Search_1","type":"main","index":0},{"node":"08a_Apify_Reddit_Scrape","type":"main","index":0},{"node":"09a_Tavily_Market_Trends_1","type":"main","index":0},{"node":"10a_Tavily_Competitor_1","type":"main","index":0},{"node":"11a_SerpAPI_Google_Trends_1","type":"main","index":0},{"node":"12a_SerpAPI_News_1","type":"main","index":0},{"node":"13a_HackerNews_Search_1","type":"main","index":0},{"node":"14a_Twitter_Search_1","type":"main","index":0},{"node":"15a_YouTube_Search_1","type":"main","index":0},{"node":"16a_RSS_Google_News_1","type":"main","index":0}]]},"07a_Tavily_Web_Search_1":{"main":[[{"node":"07b_Tavily_Web_Search_2","type":"main","index":0}]]},"07b_Tavily_Web_Search_2":{"main":[[{"node":"07c_Tavily_Web_Search_3","type":"main","index":0}]]},"07c_Tavily_Web_Search_3":{"main":[[{"node":"07d_Tavily_Web_Search_4","type":"main","index":0}]]},"07d_Tavily_Web_Search_4":{"main":[[{"node":"07e_Tavily_Web_Search_5","type":"main","index":0}]]},"07e_Tavily_Web_Search_5":{"main":[[{"node":"07f_Aggregate_Web_Research","type":"main","index":0}]]},"07f_Aggregate_Web_Research":{"main":[[{"node":"07g_Synthesize_Web_Research","type":"main","index":0}]]},"07g_Synthesize_Web_Research":{"main":[[{"node":"17_Merge_All_Research","type":"main","index":0}]]},"08a_Apify_Reddit_Scrape":{"main":[[{"node":"08b_Analyze_Reddit_Data","type":"main","index":0}]]},"08b_Analyze_Reddit_Data":{"main":[[{"node":"17_Merge_All_Research","type":"main","index":1}]]},"09a_Tavily_Market_Trends_1":{"main":[[{"node":"09b_Tavily_Market_Trends_2","type":"main","index":0}]]},"09b_Tavily_Market_Trends_2":{"main":[[{"node":"09c_Tavily_Market_Trends_3","type":"main","index":0}]]},"09c_Tavily_Market_Trends_3":{"main":[[{"node":"09d_Aggregate_Market_Research","type":"main","index":0}]]},"09d_Aggregate_Market_Research":{"main":[[{"node":"09e_Synthesize_Market_Research","type":"main","index":0}]]},"10a_Tavily_Competitor_1":{"main":[[{"node":"10b_Tavily_Competitor_2","type":"main","index":0}]]},"10b_Tavily_Competitor_2":{"main":[[{"node":"10c_Tavily_Competitor_3","type":"main","index":0}]]},"10c_Tavily_Competitor_3":{"main":[[{"node":"10d_Tavily_Competitor_4","type":"main","index":0}]]},"10d_Tavily_Competitor_4":{"main":[[{"node":"10e_Aggregate_Competitor_Research","type":"main","index":0}]]},"10e_Aggregate_Competitor_Research":{"main":[[{"node":"10f_Synthesize_Competitor_Research","type":"main","index":0}]]},"11a_SerpAPI_Google_Trends_1":{"main":[[{"node":"11b_SerpAPI_Google_Trends_2","type":"main","index":0}]]},"11b_SerpAPI_Google_Trends_2":{"main":[[{"node":"11c_SerpAPI_Google_Trends_3","type":"main","index":0}]]},"11c_SerpAPI_Google_Trends_3":{"main":[[{"node":"11d_Aggregate_Trends","type":"main","index":0}]]},"11d_Aggregate_Trends":{"main":[[{"node":"11e_Synthesize_Trends","type":"main","index":0}]]},"12a_SerpAPI_News_1":{"main":[[{"node":"12b_SerpAPI_News_2","type":"main","index":0}]]},"12b_SerpAPI_News_2":{"main":[[{"node":"12c_SerpAPI_News_3","type":"main","index":0}]]},"12c_SerpAPI_News_3":{"main":[[{"node":"12d_Aggregate_News","type":"main","index":0}]]},"12d_Aggregate_News":{"main":[[{"node":"12e_Synthesize_News","type":"main","index":0}]]},"13a_HackerNews_Search_1":{"main":[[{"node":"13b_HackerNews_Search_2","type":"main","index":0}]]},"13b_HackerNews_Search_2":{"main":[[{"node":"13c_HackerNews_Search_3","type":"main","index":0}]]},"13c_HackerNews_Search_3":{"main":[[{"node":"13d_Aggregate_HackerNews","type":"main","index":0}]]},"13d_Aggregate_HackerNews":{"main":[[{"node":"13e_Synthesize_HackerNews","type":"main","index":0}]]},"14a_Twitter_Search_1":{"main":[[{"node":"14b_Twitter_Search_2","type":"main","index":0}]]},"14b_Twitter_Search_2":{"main":[[{"node":"14c_Twitter_Search_3","type":"main","index":0}]]},"14c_Twitter_Search_3":{"main":[[{"node":"14d_Aggregate_Twitter","type":"main","index":0}]]},"14d_Aggregate_Twitter":{"main":[[{"node":"14e_Synthesize_Twitter","type":"main","index":0}]]},"15a_YouTube_Search_1":{"main":[[{"node":"15b_YouTube_Search_2","type":"main","index":0}]]},"15b_YouTube_Search_2":{"main":[[{"node":"15c_YouTube_Search_3","type":"main","index":0}]]},"15c_YouTube_Search_3":{"main":[[{"node":"15d_Aggregate_YouTube","type":"main","index":0}]]},"15d_Aggregate_YouTube":{"main":[[{"node":"15e_Synthesize_YouTube","type":"main","index":0}]]},"16a_RSS_Google_News_1":{"main":[[{"node":"16b_RSS_Google_News_2","type":"main","index":0}]]},"16b_RSS_Google_News_2":{"main":[[{"node":"16c_RSS_Google_News_3","type":"main","index":0}]]},"16c_RSS_Google_News_3":{"main":[[{"node":"16d_Aggregate_RSS","type":"main","index":0}]]},"16d_Aggregate_RSS":{"main":[[{"node":"16e_Synthesize_RSS","type":"main","index":0}]]},"17_Merge_All_Research":{"main":[[{"node":"18_Consolidate_All_Research","type":"main","index":0}]]},"18_Consolidate_All_Research":{"main":[[{"node":"19_Save_All_Research","type":"main","index":0}]]},"19_Save_All_Research":{"main":[[{"node":"20_Split_To_Document_Generation","type":"main","index":0}]]},"20_Split_To_Document_Generation":{"main":[[{"node":"21a_Write_Business_Plan","type":"main","index":0},{"node":"21b_Write_Positioning_Strategy","type":"main","index":0},{"node":"21c_Write_Competitive_Analysis","type":"main","index":0}]]},"21a_Write_Business_Plan":{"main":[[{"node":"22_Merge_Documents","type":"main","index":0}]]},"21b_Write_Positioning_Strategy":{"main":[[{"node":"22_Merge_Documents","type":"main","index":1}]]},"22_Merge_Documents":{"main":[[{"node":"23_Consolidate_Documents","type":"main","index":0}]]},"23_Consolidate_Documents":{"main":[[{"node":"24_Create_Combined_Document","type":"main","index":0}]]},"24_Create_Combined_Document":{"main":[[{"node":"25_Convert_To_PDF_And_DOCX","type":"main","index":0}]]},"25_Convert_To_PDF_And_DOCX":{"main":[[{"node":"26_Wait_For_Conversion","type":"main","index":0}]]},"26_Wait_For_Conversion":{"main":[[{"node":"27_Get_Download_URLs","type":"main","index":0}]]},"27_Get_Download_URLs":{"main":[[{"node":"28_Save_Documents","type":"main","index":0}]]},"28_Save_Documents":{"main":[[{"node":"29_Send_Email","type":"main","index":0}]]},"29_Send_Email":{"main":[[{"node":"30_Final_Response","type":"main","index":0}]]}},"settings":{"availableInMCP":false,"timeSavedMode":"fixed","saveDataSuccessExecution":"none","callerPolicy":"workflowsFromSameOwner","executionOrder":"v0"},"staticData":null,"meta":{"templateId":"ready-to-run-ai-workflow","templateCredsSetupCompleted":true},"pinData":{},"versionId":"d45ad2e3-f7cf-488f-89d2-2f2488e5ab28","activeVersionId":null,"versionCounter":14,"triggerCount":0,"shared":[{"updatedAt":"2026-01-08T17:39:23.203Z","createdAt":"2026-01-08T17:39:23.203Z","role":"workflow:owner","workflowId":"0YccjewDo80YBiaq","projectId":"ZF6g2jNHixZsE8l5","project":{"updatedAt":"2026-01-08T17:38:36.128Z","createdAt":"2026-01-08T17:38:30.532Z","id":"ZF6g2jNHixZsE8l5","name":"Matthew Jones <matt@mattjonesphotography.com>","type":"personal","icon":null,"description":null,"creatorId":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","projectRelations":[{"updatedAt":"2026-01-08T17:38:30.533Z","createdAt":"2026-01-08T17:38:30.533Z","userId":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","projectId":"ZF6g2jNHixZsE8l5","user":{"updatedAt":"2026-01-16T22:56:58.470Z","createdAt":"2026-01-08T17:38:28.760Z","id":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","email":"matt@mattjonesphotography.com","firstName":"Matthew","lastName":"Jones","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"lrxOYOXoVDI734Pkbu2Zc","userActivatedAt":1768334271574,"npsSurvey":{"responded":true,"lastShownAt":1768604212976}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-16","isPending":false}}]}}],"tags":[],"activeVersion":null}