workflows/forge-session.json
{"updatedAt":"2026-01-17T02:21:08.485Z","createdAt":"2026-01-13T04:36:52.968Z","id":"lrxOYOXoVDI734Pkbu2Zc","name":"Forge Session","description":"this is for my idea automation web app","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"return [{ json: { success: true } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7056,576],"id":"5e6d9ece-0bea-4941-aba9-715d362c09d0","name":"34_Done"},{"parameters":{"sendTo":"={{ $node['28_Combine'].json.email }}","subject":"🚀 Your Business Plan is Ready!","message":"=<html>\n<body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:20px;\">\n  <h1>Your Business Plan is Ready! 🎉</h1>\n\n  \n  <div style=\"text-align:center;margin:30px 0;\">\n    <a href=\"https://docs.google.com/document/d/{{ $node['Create a document'].json.id }}/edit\" \n       style=\"background:#4285f4;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;display:inline-block;\">\n      📄 Open Your Business Plan\n    </a>\n  </div>\n  \n  <p>Your document includes:</p>\n  <ul>\n    <li>Complete Business Plan</li>\n    <li>Positioning & GTM Strategy</li>\n    <li>Competitive Analysis</li>\n  </ul>\n  \n  <p style=\"color:#059669;\">✓ Saved to Google Docs - access anytime!</p>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[6848,576],"id":"c75896f1-8863-400b-9754-a0b8e82f0b2c","name":"33_Gmail","webhookId":"7aff9188-c7b0-482e-a597-b89db0856a95","credentials":{"gmailOAuth2":{"id":"LYWcMn0yiDxn9P5S","name":"Gmail account 2"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['28_Combine'].json.combined_session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"status":"complete","current_turn":0,"confidence_score":0,"final_confidence":0},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"current_turn","displayName":"current_turn","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"confidence_score","displayName":"confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"collected_data","displayName":"collected_data","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"final_confidence","displayName":"final_confidence","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"interview_completed_at","displayName":"interview_completed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[6656,576],"id":"b894f599-d4bb-403d-ac55-1543d2fb67af","name":"32_Save_Final"},{"parameters":{"jsCode":"// Get all 8 documents from the Code in JavaScript node (which already merged them)\nconst docs = $node['27_Code in JavaScript'].json;\n\n// Get session metadata from earlier nodes\nconst sessionData = $node['24_Parse'].json;\n\n// Combine all 8 documents with clear section headers and separators\nconst combinedContent = `# FORGE BUSINESS ANALYSIS\n**Generated:** ${docs.generated_at || new Date().toISOString()}\n**Idea:** ${sessionData.summary?.idea_summary || 'Business Idea'}\n**Confidence Score:** ${sessionData.confidence_score}%\n\n---\n\n# 1. EXECUTIVE BUSINESS PLAN\n\n${docs.business_plan}\n\n---\n\n# 2. WHY NOW - MARKET TIMING ANALYSIS\n\n${docs.why_now}\n\n---\n\n# 3. PROOF OF DEMAND - VALIDATION SIGNALS\n\n${docs.proof_signals}\n\n---\n\n# 4. CUSTOMER PROFILE (ACP)\n\n${docs.customer_profile}\n\n---\n\n# 5. VALUE EQUATION ANALYSIS\n\n${docs.value_equation}\n\n---\n\n# 6. POSITIONING & GO-TO-MARKET STRATEGY\n\n${docs.positioning}\n\n---\n\n# 7. COMPETITIVE ANALYSIS\n\n${docs.competitive_analysis}\n\n---\n\n# 8. KEYWORDS & SEO STRATEGY\n\n${docs.keywords_seo}\n\n---\n\n*Report generated by Forge Automation*`;\n\n// Return data for Google Docs and Gmail\nreturn [{\n  json: {\n    content: combinedContent,\n    email: sessionData.email,\n    idea_summary: sessionData.summary?.idea_summary || sessionData.summary,\n    confidence_score: sessionData.confidence_score,\n    combined_session_id: sessionData.session_id,\n    document_count: docs.document_count || 8\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6048,576],"id":"9987a084-c40e-4b15-82d8-7a3b639ae161","name":"28_Combine"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a competitive intelligence analyst. Create a competitive analysis with:\n1. Competitive Landscape Overview\n2. Competitor Profiles (top 5)\n3. Feature Comparison Table\n4. Pricing Comparison Table\n5. SWOT Analysis\n6. Competitive Advantages\n7. Competitive Threats\n8. Differentiation Strategy\n9. Competitive Response Plan\n\nUse the founder's specific insights about competition from the interview. Use markdown with tables where appropriate."},{"content":"=BUSINESS: {{ JSON.stringify($json.summary) }}\n\nINTERVIEW Q&A (founder's competitive insights):\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nRESEARCH: {{ $json.synthesis_raw }}\n\nCreate competitive analysis incorporating the founder's perspective on their competitive landscape."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,400],"id":"9083b8e8-6412-44dd-9ea9-64548f8f7ff2","name":"26c_Competitive","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a brand strategist. Create a positioning and go-to-market strategy with:\n1. Brand Positioning Statement\n2. Unique Value Proposition\n3. Target Personas (detailed)\n4. Key Messaging Framework\n5. Competitive Positioning Map\n6. Pricing Strategy\n7. Channel Strategy\n8. Content Pillars\n9. Launch Plan (90 days)\n10. Objection Handling\n\nUse the founder's own words and context from the interview to make recommendations authentic. Output in markdown format."},{"content":"=BUSINESS: {{ JSON.stringify($json.summary) }}\n\nINTERVIEW Q&A (founder's responses in context):\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nRESEARCH: {{ $json.synthesis_raw }}\n\nCreate positioning and GTM strategy using the founder's vision and language from the interview."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,240],"id":"ce3e0141-31eb-4035-8101-c295614d5493","name":"26b_Positioning","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a business plan writer. Create a comprehensive business plan with these sections:\n1. Executive Summary\n2. Problem & Solution\n3. Market Analysis (TAM/SAM/SOM)\n4. Competitive Analysis\n5. Product/Service Description\n6. Business Model\n7. Go-to-Market Strategy\n8. Marketing Plan\n9. Operations Plan\n10. Team\n11. Financial Projections (3 year)\n12. Risks & Mitigation\n13. Milestones & Timeline\n\nUse specific data from the research and the founder's own words from the interview. Output in markdown format."},{"content":"=FOUNDER INPUT ({{ $json.confidence_score }}% confidence):\n{{ JSON.stringify($json.summary) }}\n\nINTERVIEW Q&A (founder's responses in their own words):\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nCOLLECTED DATA:\n{{ JSON.stringify($json.collected_data) }}\n\nRESEARCH INSIGHTS:\n{{ $json.synthesis_raw }}\n\nWrite a complete business plan. Use the founder's exact language and context from the interview Q&A to make the plan authentic and specific to their vision."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,48],"id":"eb029147-2fd9-4608-a97d-14f936591239","name":"26a_Business_Plan","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4752,576],"id":"d1904d18-b7d1-4c26-8e17-b640d06f902b","name":"25_Split_Docs"},{"parameters":{"jsCode":"// Parse the synthesis output and prepare data for document generation\nconst input = $input.first().json;\n\n// Get the synthesis raw output\nconst synthesisRaw = input.synthesis_raw || $node['23_Synthesis'].json?.output;\n\n// Extract text from the synthesis output\nlet synthesisText = '';\nif (Array.isArray(synthesisRaw)) {\n  // Handle array format: output[0].content[0].text\n  synthesisText = synthesisRaw[0]?.content?.[0]?.text || '';\n} else if (typeof synthesisRaw === 'string') {\n  synthesisText = synthesisRaw;\n} else if (synthesisRaw?.message?.content) {\n  synthesisText = typeof synthesisRaw.message.content === 'string' \n    ? synthesisRaw.message.content \n    : synthesisRaw.message.content[0]?.text || '';\n}\n\n// Parse the JSON from the synthesis text (remove markdown code fences if present)\nlet synthesisParsed = {};\ntry {\n  // Remove markdown code fences if present\n  let jsonStr = synthesisText.trim();\n  if (jsonStr.startsWith('```json')) {\n    jsonStr = jsonStr.slice(7); // Remove ```json\n  } else if (jsonStr.startsWith('```')) {\n    jsonStr = jsonStr.slice(3); // Remove ```\n  }\n  if (jsonStr.endsWith('```')) {\n    jsonStr = jsonStr.slice(0, -3); // Remove trailing ```\n  }\n  jsonStr = jsonStr.trim();\n  \n  if (jsonStr) {\n    synthesisParsed = JSON.parse(jsonStr);\n  }\n} catch (e) {\n  // If parsing fails, keep the raw text available\n  synthesisParsed = { raw_text: synthesisText, parse_error: e.message };\n}\n\n// Stringify the synthesis for use in prompts (prevents [object Object])\nconst synthesisForPrompts = JSON.stringify(synthesisParsed, null, 2);\n\n// Pass through all the data needed for document generation\nreturn [{\n  json: {\n    synthesis_raw: synthesisRaw,\n    synthesis_parsed: synthesisParsed,\n    synthesis_text: synthesisForPrompts, // Use this in prompts!\n    session_id: input.session_id,\n    email: input.email,\n    summary: input.summary,\n    collected_data: input.collected_data,\n    interview_qa: input.interview_qa,\n    proof_signals: input.proof_signals,\n    why_now_factors: input.why_now_factors,\n    keyword_data: input.keyword_data,\n    confidence_score: input.confidence_score\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4608,576],"id":"187fdf62-9836-4564-a23f-0bda10082200","name":"24_Parse"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a business research analyst. Synthesize the research data into a comprehensive JSON intelligence brief with these sections:\n\n1. market_intelligence: market size, growth rate, TAM/SAM/SOM estimates, key trends\n2. competitor_intelligence: key players, their strengths/weaknesses, market positioning, pricing\n3. customer_intelligence: demographics, psychographics, pain points, behaviors, where they hang out\n4. why_now_analysis: market timing factors, recent changes enabling this business, technology shifts, regulatory changes\n5. proof_of_demand: evidence from Reddit discussions, HackerNews, search trends, forum complaints\n6. keyword_opportunities: primary keywords, long-tail opportunities, search volume insights, content gaps\n7. community_signals: direct quotes from users, pain points expressed, feature requests, sentiment\n8. strategic_recommendations: actionable insights for go-to-market, positioning, and differentiation\n\nBe specific with numbers, quotes, and data points from the research. Include direct quotes from Reddit/HN where relevant."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\n\nINTERVIEW Q&A:\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nMARKET RESEARCH:\n{{ JSON.stringify($json.research, null, 2) }}\n\nPROOF SIGNALS:\n{{ JSON.stringify($json.proof_signals, null, 2) }}\n\nWHY NOW FACTORS:\n{{ JSON.stringify($json.why_now_factors, null, 2) }}\n\nKEYWORD DATA:\n{{ JSON.stringify($json.keyword_data, null, 2) }}\n\nSynthesize into a comprehensive intelligence brief with all sections."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4224,576],"id":"2508d50d-a64e-4d0b-b7a2-87d8f7344178","name":"23_Synthesis","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"jsCode":"const input = $node['15_Parse_Queries'].json;\n\n// Helper to safely get node data\nfunction safeGet(nodeName, limit = 8000) {\n  try {\n    const node = $node[nodeName];\n    if (!node || !node.json) return null;\n    const s = JSON.stringify(node.json);\n    return s.length > limit ? JSON.parse(s.slice(0, limit)) : node.json;\n  } catch (e) {\n    return null;\n  }\n}\n\n// Collect all research data organized by category\nconst research = {\n  // Core market research (existing)\n  market: safeGet('17a_Tavily_Market'),\n  competitors: safeGet('17b_Tavily_Competitors'),\n  customer: safeGet('17c_Tavily_Customer'),\n  business_model: safeGet('17d_Tavily_Business'),\n  trends: safeGet('17e_Tavily_Trends'),\n  \n  // New research streams\n  why_now: safeGet('17f_Tavily_WhyNow'),\n  proof_signals: safeGet('17g_Tavily_ProofSignals'),\n  keywords_seo: safeGet('17h_Tavily_Keywords'),\n  \n  // Community signals\n  google_trends: safeGet('19_Trends'),\n  hackernews: safeGet('20_HackerNews'),\n  reddit: safeGet('Get dataset items')\n};\n\n// Extract proof signals summary\nconst proofSignals = {\n  reddit_discussions: research.reddit ? (research.reddit.items || []).slice(0, 10) : [],\n  hackernews_stories: research.hackernews ? (research.hackernews.hits || []).slice(0, 10) : [],\n  google_trends_data: research.google_trends,\n  tavily_proof: research.proof_signals\n};\n\n// Extract why now factors\nconst whyNowFactors = {\n  recent_news: research.why_now,\n  trend_data: research.google_trends,\n  market_shifts: research.trends\n};\n\n// Extract keyword opportunities\nconst keywordData = {\n  primary_keywords: input.queries.keyword_queries || [],\n  seo_research: research.keywords_seo,\n  trend_terms: input.queries.google_trends_terms || []\n};\n\nreturn [{\n  json: {\n    research: research,\n    proof_signals: proofSignals,\n    why_now_factors: whyNowFactors,\n    keyword_data: keywordData,\n    session_id: input.session_id,\n    email: input.email,\n    summary: input.summary,\n    collected_data: input.collected_data,\n    interview_qa: input.interview_qa,\n    confidence_score: input.confidence_score\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4016,576],"id":"83459872-7236-41db-ba4d-7ebbf7b5145d","name":"22_Consolidate"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3760,576],"id":"5049a412-6aaf-4169-9971-692ccf1277fe","name":"21_Merge"},{"parameters":{"q":"={{ $node['15_Parse_Queries'].json.queries.google_trends_terms[0] }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[3312,1568],"id":"6ed6f5dd-5851-4962-a09c-9566a90d8a49","name":"19_Trends","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"actorId":{"__rl":true,"value":"3XedXIRBcjfKrnsDJ","mode":"list","cachedResultName":"Reddit Scraper Pro (harshmaur/reddit-scraper-pro)","cachedResultUrl":"https://console.apify.com/actors/3XedXIRBcjfKrnsDJ/input"},"customBody":"={\n  \"searchTerms\": {{ JSON.stringify($node['15_Parse_Queries'].json.queries.reddit_search_terms) }},\n  \"startUrls\": {{ JSON.stringify($node['15_Parse_Queries'].json.queries.reddit_subreddits.map(sub => ({ url: 'https://www.reddit.com/r/' + sub }))) }},\n  \"searchLimit\": 50,\n  \"crawlComments\": true,\n  \"fastMode\": true\n}","timeout":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[3152,864],"id":"f4926661-a344-4289-8951-c1737d8d338f","name":"18_Reddit","alwaysOutputData":true,"credentials":{"apifyApi":{"id":"HkjvmIAigR04GJWv","name":"Apify account"}},"onError":"continueRegularOutput"},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[4] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,640],"id":"e01a964b-24fa-4e80-9db0-1c186d41c9c8","name":"17e_Tavily_Trends","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[3] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,496],"id":"16cfbd0a-6b1e-42ac-8097-636b8978a73e","name":"17d_Tavily_Business","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[2] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,336],"id":"13aaa398-c107-4a61-abe6-646b0b2d3ab4","name":"17c_Tavily_Customer","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[1] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,192],"id":"05d408a5-c2e9-4b84-9b4b-5c0d5ba109cd","name":"17b_Tavily_Competitors","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[0] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,48],"id":"1091b312-4f30-4d95-8f8d-e60464ac6807","name":"17a_Tavily_Market","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2832,576],"id":"24de5e5c-ef43-4cf2-82dc-be582444d28b","name":"16_Split_Research"},{"parameters":{"jsCode":"const input = $node['11_Generate_Summary'].json;\nlet queries;\n\ntry {\n  let content = $node['14_Generate_Queries'].json.message.content;\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  queries = JSON.parse(content);\n} catch (e) {\n  // Fallback queries if parsing fails\n  const ideaSummary = input.summary.idea_summary || 'startup';\n  const targetCustomer = input.summary.target_customer || 'customers';\n  const problem = input.summary.problem || 'problem';\n  \n  queries = {\n    tavily_queries: {\n      market: `${ideaSummary} market size TAM`,\n      competitors: `${ideaSummary} competitors alternatives`,\n      customer: `${targetCustomer} demographics behavior`,\n      business_model: `${ideaSummary} pricing revenue model`,\n      trends: `${ideaSummary} industry trends 2025`\n    },\n    why_now_queries: [\n      `${ideaSummary} recent news 2025`,\n      `technology enabling ${ideaSummary}`,\n      `${ideaSummary} market changes 2024 2025`\n    ],\n    proof_signal_queries: [\n      `reddit ${problem}`,\n      `${ideaSummary} complaints`,\n      `looking for ${ideaSummary} solution`\n    ],\n    keyword_queries: [\n      ideaSummary,\n      `best ${ideaSummary}`,\n      `${ideaSummary} software`,\n      `${ideaSummary} alternative`\n    ],\n    reddit_subreddits: ['startups', 'entrepreneur'],\n    reddit_search_terms: [ideaSummary, problem],\n    google_trends_terms: [ideaSummary.split(' ')[0], ideaSummary],\n    hackernews_query: ideaSummary\n  };\n}\n\n// Ensure backward compatibility - convert tavily_queries object to array for existing nodes\nconst tavilyQueriesArray = queries.tavily_queries.market ? \n  Object.values(queries.tavily_queries) : \n  queries.tavily_queries;\n\nreturn [{ \n  json: { \n    queries,\n    tavily_queries_array: tavilyQueriesArray,\n    session_id: input.state.session_id, \n    email: input.state.email, \n    summary: input.summary, \n    collected_data: input.collected_data, \n    interview_qa: input.interview_qa,\n    confidence_score: input.final_metrics.confidence_score \n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,576],"id":"7623a83c-611d-453d-a5d0-f37c0b38238a","name":"15_Parse_Queries"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a research query generator. Based on the business information provided, generate targeted search queries for comprehensive market research.\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"tavily_queries\": {\n    \"market\": \"query about market size and TAM\",\n    \"competitors\": \"query about direct competitors and alternatives\",\n    \"customer\": \"query about target customer demographics and behavior\",\n    \"business_model\": \"query about pricing and revenue models in this space\",\n    \"trends\": \"query about industry trends and growth\"\n  },\n  \"why_now_queries\": [\n    \"recent news or changes enabling this business\",\n    \"technology shifts making this possible now\",\n    \"regulatory or market changes in this space 2024-2025\"\n  ],\n  \"proof_signal_queries\": [\n    \"reddit discussions about [problem/solution]\",\n    \"forum complaints about [existing solutions]\",\n    \"people asking for [solution type]\"\n  ],\n  \"keyword_queries\": [\n    \"primary keyword customers would search\",\n    \"long-tail keyword variation 1\",\n    \"long-tail keyword variation 2\",\n    \"competitor brand + alternative\"\n  ],\n  \"reddit_subreddits\": [\"relevant_subreddit1\", \"relevant_subreddit2\"],\n  \"reddit_search_terms\": [\"pain point search 1\", \"solution search 2\"],\n  \"google_trends_terms\": [\"primary trend term\", \"secondary trend term\"],\n  \"hackernews_query\": \"single search query for HN\"\n}\n\nMake queries specific to the business. Include company names, industry terms, and target demographics. For proof signals, focus on finding real user pain points and demand validation."},{"content":"=Generate comprehensive research queries for this business:\n\nIDEA: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\nSOLUTION: {{ $json.summary.solution }}\nCOMPETITION: {{ $json.summary.competition }}\nBUSINESS MODEL: {{ $json.summary.business_model }}\nGO-TO-MARKET: {{ $json.summary.go_to_market }}\n\nINTERVIEW CONTEXT:\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nReturn only JSON, no explanation."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2336,576],"id":"cbdbb768-46ca-4c91-9b18-5b97384c5a6a","name":"14_Generate_Queries","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"ideamate","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1296,512],"id":"b19f9908-0a33-4ba0-a556-0c136fea988d","name":"00_Webhook_Entry","webhookId":"ideamate-complete"},{"parameters":{"jsCode":"// Parse input and determine route\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Extract fields\nconst action = body.action || '';\nconst sessionId = body.session_id || body.sessionId || null;\nconst ideaDescription = body.ideaDescription || body.business_idea || body.idea || null;\nconst message = body.message || null;\nconst email = body.email || '';\n\n// Determine route type\nlet route = 'unknown';\n\nif (action === 'start' || (!sessionId && ideaDescription)) {\n  route = 'start';\n} else if (action === 'message' || action === 'answer' || (sessionId && message)) {\n  route = 'message';\n} else if (action === 'end' || action === 'complete') {\n  route = 'end';\n}\n\nconsole.log('Route determined:', route, 'Action:', action, 'SessionId:', sessionId);\n\nreturn [{\n  json: {\n    route: route,\n    action: action,\n    session_id: sessionId,\n    idea_description: ideaDescription,\n    message: message,\n    email: email\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,512],"id":"7b6b8800-91d8-4f7a-a115-90fc17a4e2b8","name":"01_Parse_Input"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"start","operator":{"type":"string","operation":"equals"},"id":"route-start"}],"combinator":"and"},"renameOutput":true,"outputKey":"Start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"message","operator":{"type":"string","operation":"equals"},"id":"route-message"}],"combinator":"and"},"renameOutput":true,"outputKey":"Message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"end","operator":{"type":"string","operation":"equals"},"id":"route-end"}],"combinator":"and"},"renameOutput":true,"outputKey":"End"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-864,512],"id":"c80bdd8e-b7ef-4cea-a2f0-d50574525a88","name":"02_Route_Action"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Unknown action', received: $node['01_Parse_Input'].json }) }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-640,848],"id":"c166b1d2-d5e4-4d88-9061-1490d74cb3f7","name":"02_Fallback_Error"},{"parameters":{"jsCode":"const input = $node['01_Parse_Input'].json;\nconst sessionId = `int_${Date.now()}_${Math.random().toString(36).substr(2, 8)}`;\nconst ideaDescription = input.idea_description;\n\nconst initialState = {\n  session_id: sessionId,\n  email: input.email || '',\n  idea_description: ideaDescription,\n  created_at: new Date().toISOString(),\n  current_turn: 0,\n  \n  data_points: {\n    // Core Idea\n    idea_core: { weight: 5, value: ideaDescription, source: 'collected', question: null, turn: 0 },\n    idea_name: { weight: 2, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Customer & Problem\n    customer_segment: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    customer_demographics: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    customer_pain_intensity: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    customer_hangouts: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    problem_statement: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    problem_severity: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Solution\n    solution_description: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    solution_key_features: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    solution_unique_mechanism: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Competition\n    competitors_direct: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    differentiation: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    competitive_advantage: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    biggest_competitor_weakness: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Business Model\n    revenue_model: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    pricing_strategy: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    price_point: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Go-to-Market\n    gtm_channels: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    gtm_first_customers: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    marketing_strategy: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    target_search_terms: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Why Now / Market Timing\n    why_now_triggers: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    market_timing_factors: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Founder\n    founder_background: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    founder_relevant_experience: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    founder_unfair_advantage: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Validation & Traction\n    funding_needs: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    funding_stage: { weight: 2, value: null, source: 'assumed', question: null, turn: null },\n    existing_traction: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    validation_done: { weight: 3, value: null, source: 'assumed', question: null, turn: null }\n  },\n  \n  guardrails: {\n    min_turns: 3,\n    max_turns: 5,\n    min_confidence: 20,\n    critical_topics: ['idea_core', 'customer_segment']\n  },\n  \n  status: 'active'\n};\n\nreturn [{ json: initialState }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-288],"id":"8a51cc1b-ad0c-44cf-8236-cb81ff410849","name":"03a_Initialize_State"},{"parameters":{"dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $json.session_id }}","email":"={{ $json.email }}","state":"={{ JSON.stringify($json) }}","status":"active","current_turn":0,"created_at":"={{ $json.created_at }}"}},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[16,-288],"id":"73632c47-3836-4b7e-9e76-c307e67239fa","name":"03b_Save_Initial_State"},{"parameters":{"jsCode":"const state = $node['03a_Initialize_State'].json;\n\nfunction calculateMetrics(dataPoints) {\n  let totalWeight = 0;\n  let collectedWeight = 0;\n  for (const [key, point] of Object.entries(dataPoints)) {\n    totalWeight += point.weight;\n    if (point.source === 'collected') collectedWeight += point.weight;\n  }\n  return {\n    confidence_score: totalWeight > 0 ? Math.round((collectedWeight / totalWeight) * 100) : 0,\n    assumption_score: totalWeight > 0 ? Math.round(((totalWeight - collectedWeight) / totalWeight) * 100) : 100\n  };\n}\n\nconst metrics = calculateMetrics(state.data_points);\n\nconst openingMessage = `Great idea! A **${state.idea_description}** business sounds interesting! 🕯️\\n\\nI'll ask you some questions to understand your vision better. The more detail you provide, the better your business plan will be.\\n\\n**Who is your target customer for this?** (e.g., men aged 25-40 who appreciate luxury self-care)`;\n\nreturn [{\n  json: {\n    action: 'started',\n    session_id: state.session_id,\n    message: openingMessage,\n    turn: 0,\n    max_turns: 70,\n    metrics: metrics,\n    can_end: false\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-288],"id":"52807a46-2c28-4ad6-a360-3568a31ee014","name":"03c_Generate_Opening"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,-288],"id":"828ed91d-60f4-4a73-b44e-237c1896809c","name":"03d_Respond_Start"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['01_Parse_Input'].json.session_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-224,432],"id":"52338fc6-60dd-4961-b74a-d1e9f8dd1117","name":"04a_Load_State"},{"parameters":{"jsCode":"const row = $input.first().json;\n\nif (!row || !row.state) {\n  throw new Error('Session not found');\n}\n\nconst state = JSON.parse(row.state);\nconst userMessage = $node['01_Parse_Input'].json.message;\nconst sessionId = $node['01_Parse_Input'].json.session_id;\n\nstate.current_turn += 1;\n\nfunction calculateMetrics(dataPoints) {\n  let totalWeight = 0, collectedWeight = 0;\n  for (const [key, point] of Object.entries(dataPoints)) {\n    totalWeight += point.weight;\n    if (point.source === 'collected') collectedWeight += point.weight;\n  }\n  return {\n    confidence_score: totalWeight > 0 ? Math.round((collectedWeight / totalWeight) * 100) : 0,\n    assumption_score: totalWeight > 0 ? Math.round(((totalWeight - collectedWeight) / totalWeight) * 100) : 100\n  };\n}\n\nconst metrics = calculateMetrics(state.data_points);\n\nlet phase = 'discovery';\nif (state.current_turn > 20 && state.current_turn <= 40) phase = 'deepening';\nif (state.current_turn > 40 && state.current_turn <= 55) phase = 'business';\nif (state.current_turn > 55) phase = 'wrapping';\n\nconst criticalsCovered = state.guardrails.critical_topics.every(\n  topic => state.data_points[topic]?.source === 'collected'\n);\n\nconst canEnd = (\n  state.current_turn >= state.guardrails.min_turns &&\n  metrics.confidence_score >= state.guardrails.min_confidence &&\n  criticalsCovered\n);\n\nconst mustEnd = state.current_turn >= state.guardrails.max_turns;\n\nconst collectedSoFar = Object.fromEntries(\n  Object.entries(state.data_points)\n    .filter(([_, v]) => v.source === 'collected')\n    .map(([k, v]) => [k, v.value])\n);\n\nconst highValueGaps = Object.entries(state.data_points)\n  .filter(([_, p]) => p.source === 'assumed' && p.weight >= 4)\n  .sort((a, b) => b[1].weight - a[1].weight)\n  .slice(0, 5)\n  .map(([key]) => key);\n\nreturn [{\n  json: {\n    state: state,\n    session_id: sessionId,\n    user_message: userMessage,\n    current_turn: state.current_turn,\n    phase: phase,\n    metrics: metrics,\n    can_end: canEnd,\n    must_end: mustEnd,\n    criticals_covered: criticalsCovered,\n    collected_so_far: collectedSoFar,\n    high_value_gaps: highValueGaps\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,432],"id":"edf05a39-2f44-47fe-9b90-8b44e545a0b5","name":"04b_Prepare_Context"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"must-end","leftValue":"={{ $json.must_end }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,432],"id":"43412999-e674-43bf-a5de-0ff72bf96ccb","name":"04c_Check_Must_End"},{"parameters":{"options":{"systemMessage":"=You are a friendly business advisor conducting a discovery interview to gather information for comprehensive business analysis.\n\nTurn: {{ $json.current_turn }} / 5\nPhase: {{ $json.phase }}\nConfidence: {{ $json.metrics.confidence_score }}%\nCan End: {{ $json.can_end }}\n\nBUSINESS: {{ $json.state.idea_description }}\n\nCOLLECTED:\n{{ JSON.stringify($json.collected_so_far, null, 2) }}\n\nGAPS: {{ $json.high_value_gaps.join(', ') }}\n\nKEY TOPICS TO EXPLORE:\n- Customer: Who they are, where they hang out online, their pain intensity\n- Competition: Direct competitors, their weaknesses, your differentiation\n- Why Now: What market changes make this the right time?\n- Validation: Any traction, tests, or proof of demand?\n- Search Terms: What would customers search for to find this solution?\n\nRULES:\n1. Ask ONE question per response\n2. Acknowledge their answer first\n3. Target high-value gaps, especially: why_now_triggers, customer_hangouts, biggest_competitor_weakness, target_search_terms\n4. Warm, professional tone\n5. Be curious about market timing and competitive landscape\n\nAfter responding, call extract_data with any info learned.\nWhen confidence >= 80% and can_end, call end_interview."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,896],"id":"578fa36f-3bc1-4f91-bf90-79e77a294f6c","name":"05_AI_Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"gpt-5.2"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[368,1168],"id":"951b3029-435e-4a5b-beef-2e0b6ef08ad8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.session_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[560,1168],"id":"06b04dbc-eb8e-4d63-9396-5345941801be","name":"Simple Memory"},{"parameters":{"name":"extract_data","description":"Extract business data from user response"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[832,1168],"id":"d38b01fa-9e17-4eea-9438-d1c89d63c900","name":"Extract Data Tool"},{"parameters":{"name":"end_interview","description":"End interview when ready"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1024,1168],"id":"2dcbf108-7151-4cba-b652-0b3776af6173","name":"End Interview Tool"},{"parameters":{"jsCode":"const context = $node['04b_Prepare_Context'].json;\nconst state = context.state;\nconst agentOutput = $node['05_AI_Agent'].json.output;\n\n// Get tool calls\nlet extractedData = {};\nlet shouldEnd = false;\n\ntry {\n  const toolCalls = $node['05_AI_Agent'].json.toolCalls || [];\n  const extractCall = toolCalls.find(t => t.name === 'extract_data');\n  const endCall = toolCalls.find(t => t.name === 'end_interview');\n  \n  if (extractCall?.args) {\n    extractedData = extractCall.args;\n    for (const [field, value] of Object.entries(extractCall.args)) {\n      if (value && state.data_points[field]) {\n        state.data_points[field].value = value;\n        state.data_points[field].source = 'collected';\n        // Capture the question that elicited this answer\n        state.data_points[field].question = agentOutput;\n        state.data_points[field].turn = state.current_turn;\n      }\n    }\n  }\n  \n  if (endCall?.args?.ready_for_research) {\n    shouldEnd = true;\n  }\n} catch(e) {\n  console.log('Tool parsing error:', e.message);\n}\n\n// Recalculate metrics\nfunction calculateMetrics(dataPoints) {\n  let totalWeight = 0, collectedWeight = 0;\n  for (const [_, point] of Object.entries(dataPoints)) {\n    totalWeight += point.weight;\n    if (point.source === 'collected') collectedWeight += point.weight;\n  }\n  return {\n    confidence_score: Math.round((collectedWeight / totalWeight) * 100),\n    assumption_score: Math.round(((totalWeight - collectedWeight) / totalWeight) * 100)\n  };\n}\n\nconst updatedMetrics = calculateMetrics(state.data_points);\n\nconst criticalsCovered = state.guardrails.critical_topics.every(\n  topic => state.data_points[topic]?.source === 'collected'\n);\n\nconst canEnd = (\n  state.current_turn >= state.guardrails.min_turns &&\n  updatedMetrics.confidence_score >= state.guardrails.min_confidence &&\n  criticalsCovered\n);\n\nshouldEnd = shouldEnd && canEnd;\n\nreturn [{\n  json: {\n    state: state,\n    agent_message: agentOutput,\n    should_end: shouldEnd,\n    response: {\n      action: shouldEnd ? 'ending' : 'continue',\n      session_id: state.session_id,\n      message: agentOutput,\n      turn: state.current_turn,\n      max_turns: state.guardrails.max_turns,\n      metrics: updatedMetrics,\n      can_end: canEnd\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,96],"id":"ffc0e819-1c2c-4674-98d2-ffc57d2bdfab","name":"06_Process_Agent_Response"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.state.session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"state":"={{ JSON.stringify($json.state) }}","current_turn":"={{ $json.state.current_turn }}","confidence_score":"={{ $json.response.metrics.confidence_score }}","updated_at":"={{ $now.toISO() }}"}},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1280,96],"id":"31a26adb-7e6b-4042-940b-2fa62188c1fe","name":"07_Save_State"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"should-end","leftValue":"={{ $node['06_Process_Agent_Response'].json.should_end }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,96],"id":"9631f121-7ae4-46c0-93a0-e03dc770c24f","name":"08_Check_Should_End"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($node['06_Process_Agent_Response'].json.response) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1728,176],"id":"0092016d-9f8b-4d9c-a9cd-e90ddc4f14cb","name":"09_Respond_Continue"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['01_Parse_Input'].json.session_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-224,656],"id":"043e439e-c801-4a78-b961-227c455969ea","name":"10a_Load_For_Force_End"},{"parameters":{"jsCode":"const row = $input.first().json;\nconst state = JSON.parse(row.state);\nreturn [{ json: { state: state, force_end: true } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,656],"id":"1d6bd173-729c-4f6d-9496-f26dac9640f9","name":"10b_Prepare_Force_End"},{"parameters":{"jsCode":"// Get state from whichever path\nlet state;\n\ntry { if ($node['10b_Prepare_Force_End']?.json?.state) state = $node['10b_Prepare_Force_End'].json.state; } catch(e) {}\ntry { if (!state && $node['06_Process_Agent_Response']?.json?.state) state = $node['06_Process_Agent_Response'].json.state; } catch(e) {}\ntry { if (!state && $node['04b_Prepare_Context']?.json?.state) state = $node['04b_Prepare_Context'].json.state; } catch(e) {}\n\nif (!state) throw new Error('No state found');\n\nconst collected = {};\nfor (const [key, point] of Object.entries(state.data_points)) {\n  if (point.source === 'collected' && point.value) collected[key] = point.value;\n}\n\n// Build Q&A pairs with full context for document generation\nconst interviewQA = [];\nfor (const [key, point] of Object.entries(state.data_points)) {\n  if (point.source === 'collected' && point.value) {\n    interviewQA.push({\n      topic: key,\n      question: point.question || 'Information provided by founder',\n      answer: point.value,\n      turn: point.turn || 0\n    });\n  }\n}\n// Sort by turn order for chronological context\ninterviewQA.sort((a, b) => a.turn - b.turn);\n\nconst summary = {\n  idea_summary: collected.idea_core || state.idea_description || 'Business idea',\n  target_customer: collected.customer_segment || 'TBD',\n  problem: collected.problem_statement || 'TBD',\n  solution: collected.solution_description || 'TBD',\n  competition: collected.competitors_direct || 'TBD',\n  business_model: collected.revenue_model || 'TBD',\n  go_to_market: collected.gtm_channels || 'TBD',\n  founder: collected.founder_background || 'TBD',\n  financials: collected.funding_needs || 'TBD',\n  traction: collected.existing_traction || 'TBD'\n};\n\nlet totalWeight = 0, collectedWeight = 0;\nfor (const [_, point] of Object.entries(state.data_points)) {\n  totalWeight += point.weight;\n  if (point.source === 'collected') collectedWeight += point.weight;\n}\nconst finalMetrics = { confidence_score: Math.round((collectedWeight / totalWeight) * 100) };\n\nconst endMessage = `Great! I've gathered everything I need for your **${summary.idea_summary}** business plan.\\n\\n📊 **Confidence: ${finalMetrics.confidence_score}%**\\n\\nGenerating your business plan now. You'll receive an email shortly with:\\n- Business Plan\\n- Positioning Strategy\\n- Competitive Analysis\\n\\nThank you! 🚀`;\n\nreturn [{\n  json: {\n    state: state,\n    summary: summary,\n    collected_data: collected,\n    interview_qa: interviewQA,\n    final_metrics: finalMetrics,\n    response: {\n      action: 'complete',\n      session_id: state.session_id,\n      message: endMessage,\n      turn: state.current_turn,\n      metrics: finalMetrics,\n      interview_complete: true\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,16],"id":"037f8fee-30a8-4396-ba26-48904f502353","name":"11_Generate_Summary"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.state.session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"summary":"={{ JSON.stringify($json.summary) }}","collected_data":"={{ JSON.stringify($json.collected_data) }}","final_confidence":"={{ $json.final_metrics.confidence_score }}","status":"researching","interview_completed_at":"={{ $now.toISO() }}","current_turn":0,"confidence_score":0},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"current_turn","displayName":"current_turn","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"confidence_score","displayName":"confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"collected_data","displayName":"collected_data","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"final_confidence","displayName":"final_confidence","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"interview_completed_at","displayName":"interview_completed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1936,16],"id":"df2b506a-232a-4e38-ab59-c78a97b2c566","name":"12_Save_Interview_Complete"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($node['11_Generate_Summary'].json.response) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2304,-288],"id":"0adea27b-cb63-477b-b067-8a5f76aea3b7","name":"13_Respond_Complete"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3312,1024],"id":"de215933-af23-45b2-9e22-40d973e1f38f","name":"Wait","webhookId":"b9cabde6-560b-402b-91ab-b460fead59a1"},{"parameters":{"resource":"Datasets","datasetId":"={{ $('18_Reddit').item.json.defaultDatasetId }}","offset":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[3472,864],"id":"74e42d01-5a19-4ba0-b2f9-95609fd04dd6","name":"Get dataset items","credentials":{"apifyApi":{"id":"HkjvmIAigR04GJWv","name":"Apify account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3888,576],"id":"de451bb9-d117-4c96-9312-33b6eee93113","name":"Wait1","webhookId":"b9cabde6-560b-402b-91ab-b460fead59a1"},{"parameters":{"folderId":"1NDfD6TdEyDERIZnBfPt2IU8C_nxRd1sR","title":"={{ $json.idea_summary }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[6240,576],"id":"2383257d-52c4-4de2-b315-b456dbc5a10a","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"Sf4pf89HJKXX0IQw","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $node['Create a document'].json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $node['28_Combine'].json.content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[6448,576],"id":"dddecaba-ce94-409c-9d43-8a46515b72ea","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"Sf4pf89HJKXX0IQw","name":"Google Docs account"}}},{"parameters":{"numberInputs":8},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5568,560],"id":"84504829-ca57-4d8b-a2fb-24926ca5bc9a","name":"Merge"},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.queries.why_now_queries[0] }}","options":{}},"id":"17f-why-now","name":"17f_Tavily_WhyNow","type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,784],"credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.queries.proof_signal_queries[0] }}","options":{}},"id":"17g-proof","name":"17g_Tavily_ProofSignals","type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,1184],"credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.queries.keyword_queries[0] }} search volume SEO","options":{}},"id":"17h-keywords","name":"17h_Tavily_Keywords","type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,1360],"credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a market timing analyst. Create a compelling 'Why Now' analysis document explaining why this is the perfect time for this business.\n\nSections to include:\n1. Market Timing Summary - Why this moment matters\n2. Technology Enablers - What tech shifts make this possible now\n3. Market Shifts - Recent changes creating opportunity\n4. Regulatory/Cultural Changes - External factors enabling success\n5. Competitive Window - Why the timing is right vs competitors\n6. Risk of Waiting - What happens if they don't act now\n7. Supporting Evidence - Data points and trends backing up the timing\n\nUse specific data from the research. Be compelling but factual. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\n\nFOUNDER'S PERSPECTIVE ON TIMING:\n{{ JSON.stringify($json.interview_qa.filter(q => q.topic.includes('why_now') || q.topic.includes('timing')), null, 2) }}\n\nWHY NOW RESEARCH:\n{{ JSON.stringify($json.why_now_factors, null, 2) }}\n\nMARKET TRENDS:\n{{ $json.synthesis_raw }}\n\nCreate a compelling Why Now analysis document."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.4}},"id":"26d-whynow-doc","name":"26d_Why_Now","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,592],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a demand validation analyst. Create a Proof Signals document that provides evidence of market demand for this business idea.\n\nSections to include:\n1. Demand Validation Summary - Overall proof of market need\n2. Search Demand Evidence - Google Trends data, search volume insights\n3. Community Pain Points - Direct quotes from Reddit, forums, HackerNews\n4. Feature Requests Found - What people are asking for\n5. Competitor Complaints - What users dislike about existing solutions\n6. Sentiment Analysis - Overall sentiment about the problem/space\n7. Demand Score - Rate the proof of demand (1-100) with justification\n8. Validation Recommendations - Next steps to further validate\n\nInclude DIRECT QUOTES from users where available. Be specific with numbers. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nPROBLEM: {{ $json.summary.problem }}\n\nPROOF SIGNALS DATA:\n{{ JSON.stringify($json.proof_signals, null, 2) }}\n\nSYNTHESIS (community_signals and proof_of_demand sections):\n{{ $json.synthesis_raw }}\n\nCreate a comprehensive Proof Signals document with evidence of demand."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.3}},"id":"26e-proof-doc","name":"26e_Proof_Signals","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,784],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are an SEO and keyword strategist. Create a Keywords & SEO Opportunity document for this business.\n\nSections to include:\n1. Keyword Strategy Overview - Primary positioning and search strategy\n2. Primary Keywords - Main keywords to target (with estimated search intent)\n3. Long-Tail Opportunities - Specific, lower-competition keywords\n4. Question Keywords - 'How to', 'What is', 'Best' type queries\n5. Competitor Keywords - Terms competitors rank for that you should target\n6. Content Topic Clusters - Groups of related keywords for content strategy\n7. Local/Niche Keywords - If applicable, geographic or niche-specific terms\n8. Paid Search Recommendations - Keywords worth bidding on\n9. Quick Win Keywords - Low competition, high relevance opportunities\n\nBe specific with keyword suggestions. Output in markdown format with tables where helpful."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nCOMPETITION: {{ $json.summary.competition }}\n\nKEYWORD RESEARCH DATA:\n{{ JSON.stringify($json.keyword_data, null, 2) }}\n\nSYNTHESIS (keyword_opportunities section):\n{{ $json.synthesis_raw }}\n\nFOUNDER'S TARGET SEARCH TERMS:\n{{ JSON.stringify($json.interview_qa.filter(q => q.topic.includes('search') || q.topic.includes('keyword')), null, 2) }}\n\nCreate a comprehensive Keywords & SEO strategy document."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.4}},"id":"26f-keywords-doc","name":"26f_Keywords_SEO","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,976],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a customer research specialist. Create a detailed Audience Customer Profile (ACP) document.\n\nSections to include:\n1. Customer Profile Summary - One paragraph overview of the ideal customer\n2. Demographics - Age, income, location, job title, company size\n3. Psychographics - Values, fears, aspirations, motivations\n4. Behavioral Patterns - Where they spend time online, what they read, how they buy\n5. Pain Points Deep Dive - Specific frustrations, ranked by intensity\n6. Current Solutions - What they use now and why it's inadequate\n7. Buying Triggers - What events cause them to seek a solution\n8. Objections & Concerns - What might stop them from buying\n9. Day in the Life - Narrative scenario of their typical day and where the problem fits\n10. Customer Quotes - Direct quotes from research showing their voice\n\nBe specific and vivid. Use research data to back up claims. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\n\nINTERVIEW INSIGHTS ABOUT CUSTOMER:\n{{ JSON.stringify($json.interview_qa.filter(q => q.topic.includes('customer') || q.topic.includes('demographics') || q.topic.includes('hangouts') || q.topic.includes('pain')), null, 2) }}\n\nCOMMUNITY SIGNALS (real user voices):\n{{ JSON.stringify($json.proof_signals, null, 2) }}\n\nSYNTHESIS (customer_intelligence section):\n{{ $json.synthesis_raw }}\n\nCreate a detailed Audience Customer Profile document."}]},"builtInTools":{},"options":{"maxTokens":5000,"temperature":0.5}},"id":"26g-acp-doc","name":"26g_Customer_Profile","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,1168],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a value proposition strategist. Create a Value Equation analysis document.\n\nThe Value Equation framework: Value = (Dream Outcome × Perceived Likelihood of Success) / (Time to Result × Effort Required)\n\nSections to include:\n1. Value Equation Summary - Overall value score and positioning\n2. Dream Outcome Analysis\n   - What transformation does the customer achieve?\n   - How significant is this outcome to them?\n   - Score: 1-10 with justification\n3. Perceived Likelihood of Success\n   - Why will customers believe this solution works?\n   - What proof/credibility exists?\n   - Score: 1-10 with justification\n4. Time to Result\n   - How quickly do customers see value?\n   - What's the time to first win?\n   - Score: 1-10 (lower is better) with justification\n5. Effort Required\n   - What friction exists in using the solution?\n   - What does the customer need to do?\n   - Score: 1-10 (lower is better) with justification\n6. Overall Value Score Calculation\n   - Show the math: (Dream × Likelihood) / (Time × Effort)\n   - Interpret what this means\n7. Value Optimization Recommendations\n   - How to increase Dream Outcome\n   - How to increase Perceived Likelihood\n   - How to decrease Time to Result\n   - How to decrease Effort Required\n\nBe analytical and specific. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nSOLUTION: {{ $json.summary.solution }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\n\nINTERVIEW INSIGHTS:\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nCOMPETITIVE CONTEXT:\n{{ $json.synthesis_raw }}\n\nCreate a comprehensive Value Equation analysis."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.4}},"id":"26h-value-eq-doc","name":"26h_Value_Equation","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,1360],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction extractText(item, fallback) {\n  if (!item?.json) return fallback;\n  const json = item.json;\n\n  // OpenAI Responses API format - output[0].content[0].text\n  if (Array.isArray(json.output) && json.output[0]?.content?.[0]?.text) {\n    return json.output[0].content[0].text;\n  }\n  // OpenAI langchain node v2.1 - message.content is a string\n  if (typeof json.message?.content === 'string') {\n    return json.message.content;\n  }\n  // Array format (older versions) - message.content[0].text\n  if (Array.isArray(json.message?.content) && json.message.content[0]?.text) {\n    return json.message.content[0].text;\n  }\n  // Direct output field (string)\n  if (typeof json.output === 'string') return json.output;\n  if (typeof json.text === 'string') return json.text;\n\n  return fallback;\n}\n\n// Items are in order of Merge inputs (0-7)\nconst documents = {\n  business_plan: extractText(items[0], 'Business plan generation failed'),\n  positioning: extractText(items[1], 'Positioning strategy generation failed'),\n  competitive_analysis: extractText(items[2], 'Competitive analysis generation failed'),\n  why_now: extractText(items[3], 'Why Now analysis generation failed'),\n  proof_signals: extractText(items[4], 'Proof Signals generation failed'),\n  keywords_seo: extractText(items[5], 'Keywords & SEO generation failed'),\n  customer_profile: extractText(items[6], 'Customer Profile generation failed'),\n  value_equation: extractText(items[7], 'Value Equation generation failed')\n};\n\nreturn [{\n  json: {\n    ...documents,\n    document_count: Object.keys(documents).length,\n    generated_at: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5792,576],"id":"b3425685-2ca6-421c-a98d-ae920fbc71c5","name":"27_Code in JavaScript"}],"connections":{"33_Gmail":{"main":[[{"node":"34_Done","type":"main","index":0}]]},"32_Save_Final":{"main":[[{"node":"33_Gmail","type":"main","index":0}]]},"28_Combine":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"26b_Positioning":{"main":[[{"node":"Merge","type":"main","index":1}]]},"26a_Business_Plan":{"main":[[{"node":"Merge","type":"main","index":0}]]},"25_Split_Docs":{"main":[[{"node":"26c_Competitive","type":"main","index":0},{"node":"26b_Positioning","type":"main","index":0},{"node":"26a_Business_Plan","type":"main","index":0},{"node":"26d_Why_Now","type":"main","index":0},{"node":"26e_Proof_Signals","type":"main","index":0},{"node":"26f_Keywords_SEO","type":"main","index":0},{"node":"26g_Customer_Profile","type":"main","index":0},{"node":"26h_Value_Equation","type":"main","index":0}]]},"24_Parse":{"main":[[{"node":"25_Split_Docs","type":"main","index":0}]]},"23_Synthesis":{"main":[[{"node":"24_Parse","type":"main","index":0}]]},"22_Consolidate":{"main":[[{"node":"23_Synthesis","type":"main","index":0}]]},"21_Merge":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"17b_Tavily_Competitors":{"main":[[{"node":"21_Merge","type":"main","index":1}]]},"17a_Tavily_Market":{"main":[[{"node":"21_Merge","type":"main","index":0}]]},"16_Split_Research":{"main":[[{"node":"17e_Tavily_Trends","type":"main","index":0},{"node":"17d_Tavily_Business","type":"main","index":0},{"node":"17c_Tavily_Customer","type":"main","index":0},{"node":"17b_Tavily_Competitors","type":"main","index":0},{"node":"17a_Tavily_Market","type":"main","index":0},{"node":"17f_Tavily_WhyNow","type":"main","index":0},{"node":"17g_Tavily_ProofSignals","type":"main","index":0},{"node":"17h_Tavily_Keywords","type":"main","index":0},{"node":"19_Trends","type":"main","index":0},{"node":"18_Reddit","type":"main","index":0}]]},"15_Parse_Queries":{"main":[[{"node":"16_Split_Research","type":"main","index":0}]]},"14_Generate_Queries":{"main":[[{"node":"15_Parse_Queries","type":"main","index":0}]]},"00_Webhook_Entry":{"main":[[{"node":"01_Parse_Input","type":"main","index":0}]]},"01_Parse_Input":{"main":[[{"node":"02_Route_Action","type":"main","index":0}]]},"02_Route_Action":{"main":[[{"node":"03a_Initialize_State","type":"main","index":0}],[{"node":"04a_Load_State","type":"main","index":0}],[{"node":"10a_Load_For_Force_End","type":"main","index":0}],[{"node":"02_Fallback_Error","type":"main","index":0}]]},"03a_Initialize_State":{"main":[[{"node":"03b_Save_Initial_State","type":"main","index":0}]]},"03b_Save_Initial_State":{"main":[[{"node":"03c_Generate_Opening","type":"main","index":0}]]},"03c_Generate_Opening":{"main":[[{"node":"03d_Respond_Start","type":"main","index":0}]]},"04a_Load_State":{"main":[[{"node":"04b_Prepare_Context","type":"main","index":0}]]},"04b_Prepare_Context":{"main":[[{"node":"04c_Check_Must_End","type":"main","index":0}]]},"04c_Check_Must_End":{"main":[[{"node":"11_Generate_Summary","type":"main","index":0}],[{"node":"05_AI_Agent","type":"main","index":0}]]},"05_AI_Agent":{"main":[[{"node":"06_Process_Agent_Response","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"05_AI_Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"05_AI_Agent","type":"ai_memory","index":0}]]},"Extract Data Tool":{"ai_tool":[[{"node":"05_AI_Agent","type":"ai_tool","index":0}]]},"End Interview Tool":{"ai_tool":[[{"node":"05_AI_Agent","type":"ai_tool","index":0}]]},"06_Process_Agent_Response":{"main":[[{"node":"07_Save_State","type":"main","index":0}]]},"07_Save_State":{"main":[[{"node":"08_Check_Should_End","type":"main","index":0}]]},"08_Check_Should_End":{"main":[[{"node":"11_Generate_Summary","type":"main","index":0}],[{"node":"09_Respond_Continue","type":"main","index":0}]]},"10a_Load_For_Force_End":{"main":[[{"node":"10b_Prepare_Force_End","type":"main","index":0}]]},"10b_Prepare_Force_End":{"main":[[{"node":"11_Generate_Summary","type":"main","index":0}]]},"11_Generate_Summary":{"main":[[{"node":"12_Save_Interview_Complete","type":"main","index":0}]]},"12_Save_Interview_Complete":{"main":[[{"node":"14_Generate_Queries","type":"main","index":0},{"node":"13_Respond_Complete","type":"main","index":0}]]},"17d_Tavily_Business":{"main":[[{"node":"21_Merge","type":"main","index":3}]]},"17e_Tavily_Trends":{"main":[[{"node":"21_Merge","type":"main","index":4}]]},"18_Reddit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"19_Trends":{"main":[[{"node":"21_Merge","type":"main","index":9}]]},"17c_Tavily_Customer":{"main":[[{"node":"21_Merge","type":"main","index":2}]]},"Wait":{"main":[[{"node":"Get dataset items","type":"main","index":0}]]},"Get dataset items":{"main":[[{"node":"21_Merge","type":"main","index":6}]]},"Wait1":{"main":[[{"node":"22_Consolidate","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"26c_Competitive":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Update a document":{"main":[[{"node":"32_Save_Final","type":"main","index":0}]]},"Merge":{"main":[[{"node":"27_Code in JavaScript","type":"main","index":0}]]},"17f_Tavily_WhyNow":{"main":[[{"node":"21_Merge","type":"main","index":5}]]},"17g_Tavily_ProofSignals":{"main":[[{"node":"21_Merge","type":"main","index":7}]]},"17h_Tavily_Keywords":{"main":[[{"node":"21_Merge","type":"main","index":8}]]},"26d_Why_Now":{"main":[[{"node":"Merge","type":"main","index":3}]]},"26e_Proof_Signals":{"main":[[{"node":"Merge","type":"main","index":4}]]},"26f_Keywords_SEO":{"main":[[{"node":"Merge","type":"main","index":5}]]},"26g_Customer_Profile":{"main":[[{"node":"Merge","type":"main","index":6}]]},"26h_Value_Equation":{"main":[[{"node":"Merge","type":"main","index":7}]]},"27_Code in JavaScript":{"main":[[{"node":"28_Combine","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":true,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"00_Webhook_Entry":[{"json":{"headers":{"host":"ideatomation.app.n8n.cloud","user-agent":"Deno/2.1.4 (variant; SupabaseEdgeRuntime/1.69.25)","content-length":"87","accept":"*/*","accept-encoding":"gzip, br","accept-language":"*","cdn-loop":"cloudflare; loops=1; subreqs=1","cf-connecting-ip":"2600:1f1c:e:2305:6bdd:48dc:1cbe:77fb","cf-ew-via":"15","cf-ipcountry":"US","cf-ray":"9bd92e3ce748053e-SJC","cf-visitor":"{\"scheme\":\"https\"}","cf-worker":"n8n.cloud","content-type":"application/json","x-forwarded-for":"2600:1f1c:e:2305:6bdd:48dc:1cbe:77fb, 104.22.18.41","x-forwarded-host":"ideatomation.app.n8n.cloud","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"traefik-prod-users-gwc-21-5c9df84b57-45vhh","x-is-trusted":"yes","x-real-ip":"2600:1f1c:e:2305:6bdd:48dc:1cbe:77fb"},"params":{},"query":{},"body":{"action":"message","session_id":"int_1768352191819_39m0hsgh","message":"human gradee"},"webhookUrl":"https://ideatomation.app.n8n.cloud/webhook/ideamate","executionMode":"production"},"pairedItem":{"item":0}}]},"versionId":"8e2e9e4c-5a15-4bf9-be2f-82da027d65a5","activeVersionId":"8e2e9e4c-5a15-4bf9-be2f-82da027d65a5","versionCounter":285,"triggerCount":1,"shared":[{"updatedAt":"2026-01-13T04:36:52.970Z","createdAt":"2026-01-13T04:36:52.970Z","role":"workflow:owner","workflowId":"lrxOYOXoVDI734Pkbu2Zc","projectId":"ZF6g2jNHixZsE8l5","project":{"updatedAt":"2026-01-08T17:38:36.128Z","createdAt":"2026-01-08T17:38:30.532Z","id":"ZF6g2jNHixZsE8l5","name":"Matthew Jones <matt@mattjonesphotography.com>","type":"personal","icon":null,"description":null,"creatorId":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","projectRelations":[{"updatedAt":"2026-01-08T17:38:30.533Z","createdAt":"2026-01-08T17:38:30.533Z","userId":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","projectId":"ZF6g2jNHixZsE8l5","user":{"updatedAt":"2026-01-16T22:56:58.470Z","createdAt":"2026-01-08T17:38:28.760Z","id":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","email":"matt@mattjonesphotography.com","firstName":"Matthew","lastName":"Jones","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"lrxOYOXoVDI734Pkbu2Zc","userActivatedAt":1768334271574,"npsSurvey":{"responded":true,"lastShownAt":1768604212976}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-16","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-17T02:21:08.487Z","createdAt":"2026-01-17T02:21:08.487Z","versionId":"8e2e9e4c-5a15-4bf9-be2f-82da027d65a5","workflowId":"lrxOYOXoVDI734Pkbu2Zc","nodes":[{"parameters":{"jsCode":"return [{ json: { success: true } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[7056,576],"id":"5e6d9ece-0bea-4941-aba9-715d362c09d0","name":"34_Done"},{"parameters":{"sendTo":"={{ $node['28_Combine'].json.email }}","subject":"🚀 Your Business Plan is Ready!","message":"=<html>\n<body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:20px;\">\n  <h1>Your Business Plan is Ready! 🎉</h1>\n\n  \n  <div style=\"text-align:center;margin:30px 0;\">\n    <a href=\"https://docs.google.com/document/d/{{ $node['Create a document'].json.id }}/edit\" \n       style=\"background:#4285f4;color:white;padding:14px 28px;text-decoration:none;border-radius:8px;display:inline-block;\">\n      📄 Open Your Business Plan\n    </a>\n  </div>\n  \n  <p>Your document includes:</p>\n  <ul>\n    <li>Complete Business Plan</li>\n    <li>Positioning & GTM Strategy</li>\n    <li>Competitive Analysis</li>\n  </ul>\n  \n  <p style=\"color:#059669;\">✓ Saved to Google Docs - access anytime!</p>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[6848,576],"id":"c75896f1-8863-400b-9754-a0b8e82f0b2c","name":"33_Gmail","webhookId":"7aff9188-c7b0-482e-a597-b89db0856a95","credentials":{"gmailOAuth2":{"id":"LYWcMn0yiDxn9P5S","name":"Gmail account 2"}}},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['28_Combine'].json.combined_session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"status":"complete","current_turn":0,"confidence_score":0,"final_confidence":0},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"current_turn","displayName":"current_turn","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"confidence_score","displayName":"confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"collected_data","displayName":"collected_data","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"final_confidence","displayName":"final_confidence","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"interview_completed_at","displayName":"interview_completed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[6656,576],"id":"b894f599-d4bb-403d-ac55-1543d2fb67af","name":"32_Save_Final"},{"parameters":{"jsCode":"// Get all 8 documents from the Code in JavaScript node (which already merged them)\nconst docs = $node['27_Code in JavaScript'].json;\n\n// Get session metadata from earlier nodes\nconst sessionData = $node['24_Parse'].json;\n\n// Combine all 8 documents with clear section headers and separators\nconst combinedContent = `# FORGE BUSINESS ANALYSIS\n**Generated:** ${docs.generated_at || new Date().toISOString()}\n**Idea:** ${sessionData.summary?.idea_summary || 'Business Idea'}\n**Confidence Score:** ${sessionData.confidence_score}%\n\n---\n\n# 1. EXECUTIVE BUSINESS PLAN\n\n${docs.business_plan}\n\n---\n\n# 2. WHY NOW - MARKET TIMING ANALYSIS\n\n${docs.why_now}\n\n---\n\n# 3. PROOF OF DEMAND - VALIDATION SIGNALS\n\n${docs.proof_signals}\n\n---\n\n# 4. CUSTOMER PROFILE (ACP)\n\n${docs.customer_profile}\n\n---\n\n# 5. VALUE EQUATION ANALYSIS\n\n${docs.value_equation}\n\n---\n\n# 6. POSITIONING & GO-TO-MARKET STRATEGY\n\n${docs.positioning}\n\n---\n\n# 7. COMPETITIVE ANALYSIS\n\n${docs.competitive_analysis}\n\n---\n\n# 8. KEYWORDS & SEO STRATEGY\n\n${docs.keywords_seo}\n\n---\n\n*Report generated by Forge Automation*`;\n\n// Return data for Google Docs and Gmail\nreturn [{\n  json: {\n    content: combinedContent,\n    email: sessionData.email,\n    idea_summary: sessionData.summary?.idea_summary || sessionData.summary,\n    confidence_score: sessionData.confidence_score,\n    combined_session_id: sessionData.session_id,\n    document_count: docs.document_count || 8\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[6048,576],"id":"9987a084-c40e-4b15-82d8-7a3b639ae161","name":"28_Combine"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a competitive intelligence analyst. Create a competitive analysis with:\n1. Competitive Landscape Overview\n2. Competitor Profiles (top 5)\n3. Feature Comparison Table\n4. Pricing Comparison Table\n5. SWOT Analysis\n6. Competitive Advantages\n7. Competitive Threats\n8. Differentiation Strategy\n9. Competitive Response Plan\n\nUse the founder's specific insights about competition from the interview. Use markdown with tables where appropriate."},{"content":"=BUSINESS: {{ JSON.stringify($json.summary) }}\n\nINTERVIEW Q&A (founder's competitive insights):\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nRESEARCH: {{ $json.synthesis_raw }}\n\nCreate competitive analysis incorporating the founder's perspective on their competitive landscape."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,400],"id":"9083b8e8-6412-44dd-9ea9-64548f8f7ff2","name":"26c_Competitive","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a brand strategist. Create a positioning and go-to-market strategy with:\n1. Brand Positioning Statement\n2. Unique Value Proposition\n3. Target Personas (detailed)\n4. Key Messaging Framework\n5. Competitive Positioning Map\n6. Pricing Strategy\n7. Channel Strategy\n8. Content Pillars\n9. Launch Plan (90 days)\n10. Objection Handling\n\nUse the founder's own words and context from the interview to make recommendations authentic. Output in markdown format."},{"content":"=BUSINESS: {{ JSON.stringify($json.summary) }}\n\nINTERVIEW Q&A (founder's responses in context):\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nRESEARCH: {{ $json.synthesis_raw }}\n\nCreate positioning and GTM strategy using the founder's vision and language from the interview."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,240],"id":"ce3e0141-31eb-4035-8101-c295614d5493","name":"26b_Positioning","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a business plan writer. Create a comprehensive business plan with these sections:\n1. Executive Summary\n2. Problem & Solution\n3. Market Analysis (TAM/SAM/SOM)\n4. Competitive Analysis\n5. Product/Service Description\n6. Business Model\n7. Go-to-Market Strategy\n8. Marketing Plan\n9. Operations Plan\n10. Team\n11. Financial Projections (3 year)\n12. Risks & Mitigation\n13. Milestones & Timeline\n\nUse specific data from the research and the founder's own words from the interview. Output in markdown format."},{"content":"=FOUNDER INPUT ({{ $json.confidence_score }}% confidence):\n{{ JSON.stringify($json.summary) }}\n\nINTERVIEW Q&A (founder's responses in their own words):\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nCOLLECTED DATA:\n{{ JSON.stringify($json.collected_data) }}\n\nRESEARCH INSIGHTS:\n{{ $json.synthesis_raw }}\n\nWrite a complete business plan. Use the founder's exact language and context from the interview Q&A to make the plan authentic and specific to their vision."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,48],"id":"eb029147-2fd9-4608-a97d-14f936591239","name":"26a_Business_Plan","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4752,576],"id":"d1904d18-b7d1-4c26-8e17-b640d06f902b","name":"25_Split_Docs"},{"parameters":{"jsCode":"// Parse the synthesis output and prepare data for document generation\nconst input = $input.first().json;\n\n// Get the synthesis raw output\nconst synthesisRaw = input.synthesis_raw || $node['23_Synthesis'].json?.output;\n\n// Extract text from the synthesis output\nlet synthesisText = '';\nif (Array.isArray(synthesisRaw)) {\n  // Handle array format: output[0].content[0].text\n  synthesisText = synthesisRaw[0]?.content?.[0]?.text || '';\n} else if (typeof synthesisRaw === 'string') {\n  synthesisText = synthesisRaw;\n} else if (synthesisRaw?.message?.content) {\n  synthesisText = typeof synthesisRaw.message.content === 'string' \n    ? synthesisRaw.message.content \n    : synthesisRaw.message.content[0]?.text || '';\n}\n\n// Parse the JSON from the synthesis text (remove markdown code fences if present)\nlet synthesisParsed = {};\ntry {\n  // Remove markdown code fences if present\n  let jsonStr = synthesisText.trim();\n  if (jsonStr.startsWith('```json')) {\n    jsonStr = jsonStr.slice(7); // Remove ```json\n  } else if (jsonStr.startsWith('```')) {\n    jsonStr = jsonStr.slice(3); // Remove ```\n  }\n  if (jsonStr.endsWith('```')) {\n    jsonStr = jsonStr.slice(0, -3); // Remove trailing ```\n  }\n  jsonStr = jsonStr.trim();\n  \n  if (jsonStr) {\n    synthesisParsed = JSON.parse(jsonStr);\n  }\n} catch (e) {\n  // If parsing fails, keep the raw text available\n  synthesisParsed = { raw_text: synthesisText, parse_error: e.message };\n}\n\n// Stringify the synthesis for use in prompts (prevents [object Object])\nconst synthesisForPrompts = JSON.stringify(synthesisParsed, null, 2);\n\n// Pass through all the data needed for document generation\nreturn [{\n  json: {\n    synthesis_raw: synthesisRaw,\n    synthesis_parsed: synthesisParsed,\n    synthesis_text: synthesisForPrompts, // Use this in prompts!\n    session_id: input.session_id,\n    email: input.email,\n    summary: input.summary,\n    collected_data: input.collected_data,\n    interview_qa: input.interview_qa,\n    proof_signals: input.proof_signals,\n    why_now_factors: input.why_now_factors,\n    keyword_data: input.keyword_data,\n    confidence_score: input.confidence_score\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4608,576],"id":"187fdf62-9836-4564-a23f-0bda10082200","name":"24_Parse"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a business research analyst. Synthesize the research data into a comprehensive JSON intelligence brief with these sections:\n\n1. market_intelligence: market size, growth rate, TAM/SAM/SOM estimates, key trends\n2. competitor_intelligence: key players, their strengths/weaknesses, market positioning, pricing\n3. customer_intelligence: demographics, psychographics, pain points, behaviors, where they hang out\n4. why_now_analysis: market timing factors, recent changes enabling this business, technology shifts, regulatory changes\n5. proof_of_demand: evidence from Reddit discussions, HackerNews, search trends, forum complaints\n6. keyword_opportunities: primary keywords, long-tail opportunities, search volume insights, content gaps\n7. community_signals: direct quotes from users, pain points expressed, feature requests, sentiment\n8. strategic_recommendations: actionable insights for go-to-market, positioning, and differentiation\n\nBe specific with numbers, quotes, and data points from the research. Include direct quotes from Reddit/HN where relevant."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\n\nINTERVIEW Q&A:\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nMARKET RESEARCH:\n{{ JSON.stringify($json.research, null, 2) }}\n\nPROOF SIGNALS:\n{{ JSON.stringify($json.proof_signals, null, 2) }}\n\nWHY NOW FACTORS:\n{{ JSON.stringify($json.why_now_factors, null, 2) }}\n\nKEYWORD DATA:\n{{ JSON.stringify($json.keyword_data, null, 2) }}\n\nSynthesize into a comprehensive intelligence brief with all sections."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4224,576],"id":"2508d50d-a64e-4d0b-b7a2-87d8f7344178","name":"23_Synthesis","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"jsCode":"const input = $node['15_Parse_Queries'].json;\n\n// Helper to safely get node data\nfunction safeGet(nodeName, limit = 8000) {\n  try {\n    const node = $node[nodeName];\n    if (!node || !node.json) return null;\n    const s = JSON.stringify(node.json);\n    return s.length > limit ? JSON.parse(s.slice(0, limit)) : node.json;\n  } catch (e) {\n    return null;\n  }\n}\n\n// Collect all research data organized by category\nconst research = {\n  // Core market research (existing)\n  market: safeGet('17a_Tavily_Market'),\n  competitors: safeGet('17b_Tavily_Competitors'),\n  customer: safeGet('17c_Tavily_Customer'),\n  business_model: safeGet('17d_Tavily_Business'),\n  trends: safeGet('17e_Tavily_Trends'),\n  \n  // New research streams\n  why_now: safeGet('17f_Tavily_WhyNow'),\n  proof_signals: safeGet('17g_Tavily_ProofSignals'),\n  keywords_seo: safeGet('17h_Tavily_Keywords'),\n  \n  // Community signals\n  google_trends: safeGet('19_Trends'),\n  hackernews: safeGet('20_HackerNews'),\n  reddit: safeGet('Get dataset items')\n};\n\n// Extract proof signals summary\nconst proofSignals = {\n  reddit_discussions: research.reddit ? (research.reddit.items || []).slice(0, 10) : [],\n  hackernews_stories: research.hackernews ? (research.hackernews.hits || []).slice(0, 10) : [],\n  google_trends_data: research.google_trends,\n  tavily_proof: research.proof_signals\n};\n\n// Extract why now factors\nconst whyNowFactors = {\n  recent_news: research.why_now,\n  trend_data: research.google_trends,\n  market_shifts: research.trends\n};\n\n// Extract keyword opportunities\nconst keywordData = {\n  primary_keywords: input.queries.keyword_queries || [],\n  seo_research: research.keywords_seo,\n  trend_terms: input.queries.google_trends_terms || []\n};\n\nreturn [{\n  json: {\n    research: research,\n    proof_signals: proofSignals,\n    why_now_factors: whyNowFactors,\n    keyword_data: keywordData,\n    session_id: input.session_id,\n    email: input.email,\n    summary: input.summary,\n    collected_data: input.collected_data,\n    interview_qa: input.interview_qa,\n    confidence_score: input.confidence_score\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4016,576],"id":"83459872-7236-41db-ba4d-7ebbf7b5145d","name":"22_Consolidate"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[3760,576],"id":"5049a412-6aaf-4169-9971-692ccf1277fe","name":"21_Merge"},{"parameters":{"q":"={{ $node['15_Parse_Queries'].json.queries.google_trends_terms[0] }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[3312,1568],"id":"6ed6f5dd-5851-4962-a09c-9566a90d8a49","name":"19_Trends","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"actorId":{"__rl":true,"value":"3XedXIRBcjfKrnsDJ","mode":"list","cachedResultName":"Reddit Scraper Pro (harshmaur/reddit-scraper-pro)","cachedResultUrl":"https://console.apify.com/actors/3XedXIRBcjfKrnsDJ/input"},"customBody":"={\n  \"searchTerms\": {{ JSON.stringify($node['15_Parse_Queries'].json.queries.reddit_search_terms) }},\n  \"startUrls\": {{ JSON.stringify($node['15_Parse_Queries'].json.queries.reddit_subreddits.map(sub => ({ url: 'https://www.reddit.com/r/' + sub }))) }},\n  \"searchLimit\": 50,\n  \"crawlComments\": true,\n  \"fastMode\": true\n}","timeout":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[3152,864],"id":"f4926661-a344-4289-8951-c1737d8d338f","name":"18_Reddit","alwaysOutputData":true,"credentials":{"apifyApi":{"id":"HkjvmIAigR04GJWv","name":"Apify account"}},"onError":"continueRegularOutput"},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[4] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,640],"id":"e01a964b-24fa-4e80-9db0-1c186d41c9c8","name":"17e_Tavily_Trends","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[3] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,496],"id":"16cfbd0a-6b1e-42ac-8097-636b8978a73e","name":"17d_Tavily_Business","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[2] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,336],"id":"13aaa398-c107-4a61-abe6-646b0b2d3ab4","name":"17c_Tavily_Customer","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[1] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,192],"id":"05d408a5-c2e9-4b84-9b4b-5c0d5ba109cd","name":"17b_Tavily_Competitors","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.tavily_queries_array[0] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,48],"id":"1091b312-4f30-4d95-8f8d-e60464ac6807","name":"17a_Tavily_Market","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2832,576],"id":"24de5e5c-ef43-4cf2-82dc-be582444d28b","name":"16_Split_Research"},{"parameters":{"jsCode":"const input = $node['11_Generate_Summary'].json;\nlet queries;\n\ntry {\n  let content = $node['14_Generate_Queries'].json.message.content;\n  content = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  queries = JSON.parse(content);\n} catch (e) {\n  // Fallback queries if parsing fails\n  const ideaSummary = input.summary.idea_summary || 'startup';\n  const targetCustomer = input.summary.target_customer || 'customers';\n  const problem = input.summary.problem || 'problem';\n  \n  queries = {\n    tavily_queries: {\n      market: `${ideaSummary} market size TAM`,\n      competitors: `${ideaSummary} competitors alternatives`,\n      customer: `${targetCustomer} demographics behavior`,\n      business_model: `${ideaSummary} pricing revenue model`,\n      trends: `${ideaSummary} industry trends 2025`\n    },\n    why_now_queries: [\n      `${ideaSummary} recent news 2025`,\n      `technology enabling ${ideaSummary}`,\n      `${ideaSummary} market changes 2024 2025`\n    ],\n    proof_signal_queries: [\n      `reddit ${problem}`,\n      `${ideaSummary} complaints`,\n      `looking for ${ideaSummary} solution`\n    ],\n    keyword_queries: [\n      ideaSummary,\n      `best ${ideaSummary}`,\n      `${ideaSummary} software`,\n      `${ideaSummary} alternative`\n    ],\n    reddit_subreddits: ['startups', 'entrepreneur'],\n    reddit_search_terms: [ideaSummary, problem],\n    google_trends_terms: [ideaSummary.split(' ')[0], ideaSummary],\n    hackernews_query: ideaSummary\n  };\n}\n\n// Ensure backward compatibility - convert tavily_queries object to array for existing nodes\nconst tavilyQueriesArray = queries.tavily_queries.market ? \n  Object.values(queries.tavily_queries) : \n  queries.tavily_queries;\n\nreturn [{ \n  json: { \n    queries,\n    tavily_queries_array: tavilyQueriesArray,\n    session_id: input.state.session_id, \n    email: input.state.email, \n    summary: input.summary, \n    collected_data: input.collected_data, \n    interview_qa: input.interview_qa,\n    confidence_score: input.final_metrics.confidence_score \n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2640,576],"id":"7623a83c-611d-453d-a5d0-f37c0b38238a","name":"15_Parse_Queries"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"You are a research query generator. Based on the business information provided, generate targeted search queries for comprehensive market research.\n\nReturn ONLY valid JSON in this exact format:\n{\n  \"tavily_queries\": {\n    \"market\": \"query about market size and TAM\",\n    \"competitors\": \"query about direct competitors and alternatives\",\n    \"customer\": \"query about target customer demographics and behavior\",\n    \"business_model\": \"query about pricing and revenue models in this space\",\n    \"trends\": \"query about industry trends and growth\"\n  },\n  \"why_now_queries\": [\n    \"recent news or changes enabling this business\",\n    \"technology shifts making this possible now\",\n    \"regulatory or market changes in this space 2024-2025\"\n  ],\n  \"proof_signal_queries\": [\n    \"reddit discussions about [problem/solution]\",\n    \"forum complaints about [existing solutions]\",\n    \"people asking for [solution type]\"\n  ],\n  \"keyword_queries\": [\n    \"primary keyword customers would search\",\n    \"long-tail keyword variation 1\",\n    \"long-tail keyword variation 2\",\n    \"competitor brand + alternative\"\n  ],\n  \"reddit_subreddits\": [\"relevant_subreddit1\", \"relevant_subreddit2\"],\n  \"reddit_search_terms\": [\"pain point search 1\", \"solution search 2\"],\n  \"google_trends_terms\": [\"primary trend term\", \"secondary trend term\"],\n  \"hackernews_query\": \"single search query for HN\"\n}\n\nMake queries specific to the business. Include company names, industry terms, and target demographics. For proof signals, focus on finding real user pain points and demand validation."},{"content":"=Generate comprehensive research queries for this business:\n\nIDEA: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\nSOLUTION: {{ $json.summary.solution }}\nCOMPETITION: {{ $json.summary.competition }}\nBUSINESS MODEL: {{ $json.summary.business_model }}\nGO-TO-MARKET: {{ $json.summary.go_to_market }}\n\nINTERVIEW CONTEXT:\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nReturn only JSON, no explanation."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2336,576],"id":"cbdbb768-46ca-4c91-9b18-5b97384c5a6a","name":"14_Generate_Queries","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"ideamate","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1296,512],"id":"b19f9908-0a33-4ba0-a556-0c136fea988d","name":"00_Webhook_Entry","webhookId":"ideamate-complete"},{"parameters":{"jsCode":"// Parse input and determine route\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Extract fields\nconst action = body.action || '';\nconst sessionId = body.session_id || body.sessionId || null;\nconst ideaDescription = body.ideaDescription || body.business_idea || body.idea || null;\nconst message = body.message || null;\nconst email = body.email || '';\n\n// Determine route type\nlet route = 'unknown';\n\nif (action === 'start' || (!sessionId && ideaDescription)) {\n  route = 'start';\n} else if (action === 'message' || action === 'answer' || (sessionId && message)) {\n  route = 'message';\n} else if (action === 'end' || action === 'complete') {\n  route = 'end';\n}\n\nconsole.log('Route determined:', route, 'Action:', action, 'SessionId:', sessionId);\n\nreturn [{\n  json: {\n    route: route,\n    action: action,\n    session_id: sessionId,\n    idea_description: ideaDescription,\n    message: message,\n    email: email\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1072,512],"id":"7b6b8800-91d8-4f7a-a115-90fc17a4e2b8","name":"01_Parse_Input"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"start","operator":{"type":"string","operation":"equals"},"id":"route-start"}],"combinator":"and"},"renameOutput":true,"outputKey":"Start"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"message","operator":{"type":"string","operation":"equals"},"id":"route-message"}],"combinator":"and"},"renameOutput":true,"outputKey":"Message"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.route }}","rightValue":"end","operator":{"type":"string","operation":"equals"},"id":"route-end"}],"combinator":"and"},"renameOutput":true,"outputKey":"End"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-864,512],"id":"c80bdd8e-b7ef-4cea-a2f0-d50574525a88","name":"02_Route_Action"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ error: 'Unknown action', received: $node['01_Parse_Input'].json }) }}","options":{"responseCode":400}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-640,848],"id":"c166b1d2-d5e4-4d88-9061-1490d74cb3f7","name":"02_Fallback_Error"},{"parameters":{"jsCode":"const input = $node['01_Parse_Input'].json;\nconst sessionId = `int_${Date.now()}_${Math.random().toString(36).substr(2, 8)}`;\nconst ideaDescription = input.idea_description;\n\nconst initialState = {\n  session_id: sessionId,\n  email: input.email || '',\n  idea_description: ideaDescription,\n  created_at: new Date().toISOString(),\n  current_turn: 0,\n  \n  data_points: {\n    // Core Idea\n    idea_core: { weight: 5, value: ideaDescription, source: 'collected', question: null, turn: 0 },\n    idea_name: { weight: 2, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Customer & Problem\n    customer_segment: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    customer_demographics: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    customer_pain_intensity: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    customer_hangouts: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    problem_statement: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    problem_severity: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Solution\n    solution_description: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    solution_key_features: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    solution_unique_mechanism: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Competition\n    competitors_direct: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    differentiation: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    competitive_advantage: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    biggest_competitor_weakness: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Business Model\n    revenue_model: { weight: 5, value: null, source: 'assumed', question: null, turn: null },\n    pricing_strategy: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    price_point: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Go-to-Market\n    gtm_channels: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    gtm_first_customers: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    marketing_strategy: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    target_search_terms: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Why Now / Market Timing\n    why_now_triggers: { weight: 4, value: null, source: 'assumed', question: null, turn: null },\n    market_timing_factors: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Founder\n    founder_background: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    founder_relevant_experience: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    founder_unfair_advantage: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    \n    // Validation & Traction\n    funding_needs: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    funding_stage: { weight: 2, value: null, source: 'assumed', question: null, turn: null },\n    existing_traction: { weight: 3, value: null, source: 'assumed', question: null, turn: null },\n    validation_done: { weight: 3, value: null, source: 'assumed', question: null, turn: null }\n  },\n  \n  guardrails: {\n    min_turns: 3,\n    max_turns: 5,\n    min_confidence: 20,\n    critical_topics: ['idea_core', 'customer_segment']\n  },\n  \n  status: 'active'\n};\n\nreturn [{ json: initialState }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-208,-288],"id":"8a51cc1b-ad0c-44cf-8236-cb81ff410849","name":"03a_Initialize_State"},{"parameters":{"dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"columns":{"mappingMode":"defineBelow","value":{"session_id":"={{ $json.session_id }}","email":"={{ $json.email }}","state":"={{ JSON.stringify($json) }}","status":"active","current_turn":0,"created_at":"={{ $json.created_at }}"}},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[16,-288],"id":"73632c47-3836-4b7e-9e76-c307e67239fa","name":"03b_Save_Initial_State"},{"parameters":{"jsCode":"const state = $node['03a_Initialize_State'].json;\n\nfunction calculateMetrics(dataPoints) {\n  let totalWeight = 0;\n  let collectedWeight = 0;\n  for (const [key, point] of Object.entries(dataPoints)) {\n    totalWeight += point.weight;\n    if (point.source === 'collected') collectedWeight += point.weight;\n  }\n  return {\n    confidence_score: totalWeight > 0 ? Math.round((collectedWeight / totalWeight) * 100) : 0,\n    assumption_score: totalWeight > 0 ? Math.round(((totalWeight - collectedWeight) / totalWeight) * 100) : 100\n  };\n}\n\nconst metrics = calculateMetrics(state.data_points);\n\nconst openingMessage = `Great idea! A **${state.idea_description}** business sounds interesting! 🕯️\\n\\nI'll ask you some questions to understand your vision better. The more detail you provide, the better your business plan will be.\\n\\n**Who is your target customer for this?** (e.g., men aged 25-40 who appreciate luxury self-care)`;\n\nreturn [{\n  json: {\n    action: 'started',\n    session_id: state.session_id,\n    message: openingMessage,\n    turn: 0,\n    max_turns: 70,\n    metrics: metrics,\n    can_end: false\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,-288],"id":"52807a46-2c28-4ad6-a360-3568a31ee014","name":"03c_Generate_Opening"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[464,-288],"id":"828ed91d-60f4-4a73-b44e-237c1896809c","name":"03d_Respond_Start"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['01_Parse_Input'].json.session_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-224,432],"id":"52338fc6-60dd-4961-b74a-d1e9f8dd1117","name":"04a_Load_State"},{"parameters":{"jsCode":"const row = $input.first().json;\n\nif (!row || !row.state) {\n  throw new Error('Session not found');\n}\n\nconst state = JSON.parse(row.state);\nconst userMessage = $node['01_Parse_Input'].json.message;\nconst sessionId = $node['01_Parse_Input'].json.session_id;\n\nstate.current_turn += 1;\n\nfunction calculateMetrics(dataPoints) {\n  let totalWeight = 0, collectedWeight = 0;\n  for (const [key, point] of Object.entries(dataPoints)) {\n    totalWeight += point.weight;\n    if (point.source === 'collected') collectedWeight += point.weight;\n  }\n  return {\n    confidence_score: totalWeight > 0 ? Math.round((collectedWeight / totalWeight) * 100) : 0,\n    assumption_score: totalWeight > 0 ? Math.round(((totalWeight - collectedWeight) / totalWeight) * 100) : 100\n  };\n}\n\nconst metrics = calculateMetrics(state.data_points);\n\nlet phase = 'discovery';\nif (state.current_turn > 20 && state.current_turn <= 40) phase = 'deepening';\nif (state.current_turn > 40 && state.current_turn <= 55) phase = 'business';\nif (state.current_turn > 55) phase = 'wrapping';\n\nconst criticalsCovered = state.guardrails.critical_topics.every(\n  topic => state.data_points[topic]?.source === 'collected'\n);\n\nconst canEnd = (\n  state.current_turn >= state.guardrails.min_turns &&\n  metrics.confidence_score >= state.guardrails.min_confidence &&\n  criticalsCovered\n);\n\nconst mustEnd = state.current_turn >= state.guardrails.max_turns;\n\nconst collectedSoFar = Object.fromEntries(\n  Object.entries(state.data_points)\n    .filter(([_, v]) => v.source === 'collected')\n    .map(([k, v]) => [k, v.value])\n);\n\nconst highValueGaps = Object.entries(state.data_points)\n  .filter(([_, p]) => p.source === 'assumed' && p.weight >= 4)\n  .sort((a, b) => b[1].weight - a[1].weight)\n  .slice(0, 5)\n  .map(([key]) => key);\n\nreturn [{\n  json: {\n    state: state,\n    session_id: sessionId,\n    user_message: userMessage,\n    current_turn: state.current_turn,\n    phase: phase,\n    metrics: metrics,\n    can_end: canEnd,\n    must_end: mustEnd,\n    criticals_covered: criticalsCovered,\n    collected_so_far: collectedSoFar,\n    high_value_gaps: highValueGaps\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,432],"id":"edf05a39-2f44-47fe-9b90-8b44e545a0b5","name":"04b_Prepare_Context"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"must-end","leftValue":"={{ $json.must_end }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,432],"id":"43412999-e674-43bf-a5de-0ff72bf96ccb","name":"04c_Check_Must_End"},{"parameters":{"options":{"systemMessage":"=You are a friendly business advisor conducting a discovery interview to gather information for comprehensive business analysis.\n\nTurn: {{ $json.current_turn }} / 5\nPhase: {{ $json.phase }}\nConfidence: {{ $json.metrics.confidence_score }}%\nCan End: {{ $json.can_end }}\n\nBUSINESS: {{ $json.state.idea_description }}\n\nCOLLECTED:\n{{ JSON.stringify($json.collected_so_far, null, 2) }}\n\nGAPS: {{ $json.high_value_gaps.join(', ') }}\n\nKEY TOPICS TO EXPLORE:\n- Customer: Who they are, where they hang out online, their pain intensity\n- Competition: Direct competitors, their weaknesses, your differentiation\n- Why Now: What market changes make this the right time?\n- Validation: Any traction, tests, or proof of demand?\n- Search Terms: What would customers search for to find this solution?\n\nRULES:\n1. Ask ONE question per response\n2. Acknowledge their answer first\n3. Target high-value gaps, especially: why_now_triggers, customer_hangouts, biggest_competitor_weakness, target_search_terms\n4. Warm, professional tone\n5. Be curious about market timing and competitive landscape\n\nAfter responding, call extract_data with any info learned.\nWhen confidence >= 80% and can_end, call end_interview."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,896],"id":"578fa36f-3bc1-4f91-bf90-79e77a294f6c","name":"05_AI_Agent"},{"parameters":{"model":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"gpt-5.2"},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[368,1168],"id":"951b3029-435e-4a5b-beef-2e0b6ef08ad8","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.session_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[560,1168],"id":"06b04dbc-eb8e-4d63-9396-5345941801be","name":"Simple Memory"},{"parameters":{"name":"extract_data","description":"Extract business data from user response"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[832,1168],"id":"d38b01fa-9e17-4eea-9438-d1c89d63c900","name":"Extract Data Tool"},{"parameters":{"name":"end_interview","description":"End interview when ready"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1024,1168],"id":"2dcbf108-7151-4cba-b652-0b3776af6173","name":"End Interview Tool"},{"parameters":{"jsCode":"const context = $node['04b_Prepare_Context'].json;\nconst state = context.state;\nconst agentOutput = $node['05_AI_Agent'].json.output;\n\n// Get tool calls\nlet extractedData = {};\nlet shouldEnd = false;\n\ntry {\n  const toolCalls = $node['05_AI_Agent'].json.toolCalls || [];\n  const extractCall = toolCalls.find(t => t.name === 'extract_data');\n  const endCall = toolCalls.find(t => t.name === 'end_interview');\n  \n  if (extractCall?.args) {\n    extractedData = extractCall.args;\n    for (const [field, value] of Object.entries(extractCall.args)) {\n      if (value && state.data_points[field]) {\n        state.data_points[field].value = value;\n        state.data_points[field].source = 'collected';\n        // Capture the question that elicited this answer\n        state.data_points[field].question = agentOutput;\n        state.data_points[field].turn = state.current_turn;\n      }\n    }\n  }\n  \n  if (endCall?.args?.ready_for_research) {\n    shouldEnd = true;\n  }\n} catch(e) {\n  console.log('Tool parsing error:', e.message);\n}\n\n// Recalculate metrics\nfunction calculateMetrics(dataPoints) {\n  let totalWeight = 0, collectedWeight = 0;\n  for (const [_, point] of Object.entries(dataPoints)) {\n    totalWeight += point.weight;\n    if (point.source === 'collected') collectedWeight += point.weight;\n  }\n  return {\n    confidence_score: Math.round((collectedWeight / totalWeight) * 100),\n    assumption_score: Math.round(((totalWeight - collectedWeight) / totalWeight) * 100)\n  };\n}\n\nconst updatedMetrics = calculateMetrics(state.data_points);\n\nconst criticalsCovered = state.guardrails.critical_topics.every(\n  topic => state.data_points[topic]?.source === 'collected'\n);\n\nconst canEnd = (\n  state.current_turn >= state.guardrails.min_turns &&\n  updatedMetrics.confidence_score >= state.guardrails.min_confidence &&\n  criticalsCovered\n);\n\nshouldEnd = shouldEnd && canEnd;\n\nreturn [{\n  json: {\n    state: state,\n    agent_message: agentOutput,\n    should_end: shouldEnd,\n    response: {\n      action: shouldEnd ? 'ending' : 'continue',\n      session_id: state.session_id,\n      message: agentOutput,\n      turn: state.current_turn,\n      max_turns: state.guardrails.max_turns,\n      metrics: updatedMetrics,\n      can_end: canEnd\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1056,96],"id":"ffc0e819-1c2c-4674-98d2-ffc57d2bdfab","name":"06_Process_Agent_Response"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.state.session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"state":"={{ JSON.stringify($json.state) }}","current_turn":"={{ $json.state.current_turn }}","confidence_score":"={{ $json.response.metrics.confidence_score }}","updated_at":"={{ $now.toISO() }}"}},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1280,96],"id":"31a26adb-7e6b-4042-940b-2fa62188c1fe","name":"07_Save_State"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"should-end","leftValue":"={{ $node['06_Process_Agent_Response'].json.should_end }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1504,96],"id":"9631f121-7ae4-46c0-93a0-e03dc770c24f","name":"08_Check_Should_End"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($node['06_Process_Agent_Response'].json.response) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1728,176],"id":"0092016d-9f8b-4d9c-a9cd-e90ddc4f14cb","name":"09_Respond_Continue"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['01_Parse_Input'].json.session_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-224,656],"id":"043e439e-c801-4a78-b961-227c455969ea","name":"10a_Load_For_Force_End"},{"parameters":{"jsCode":"const row = $input.first().json;\nconst state = JSON.parse(row.state);\nreturn [{ json: { state: state, force_end: true } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,656],"id":"1d6bd173-729c-4f6d-9496-f26dac9640f9","name":"10b_Prepare_Force_End"},{"parameters":{"jsCode":"// Get state from whichever path\nlet state;\n\ntry { if ($node['10b_Prepare_Force_End']?.json?.state) state = $node['10b_Prepare_Force_End'].json.state; } catch(e) {}\ntry { if (!state && $node['06_Process_Agent_Response']?.json?.state) state = $node['06_Process_Agent_Response'].json.state; } catch(e) {}\ntry { if (!state && $node['04b_Prepare_Context']?.json?.state) state = $node['04b_Prepare_Context'].json.state; } catch(e) {}\n\nif (!state) throw new Error('No state found');\n\nconst collected = {};\nfor (const [key, point] of Object.entries(state.data_points)) {\n  if (point.source === 'collected' && point.value) collected[key] = point.value;\n}\n\n// Build Q&A pairs with full context for document generation\nconst interviewQA = [];\nfor (const [key, point] of Object.entries(state.data_points)) {\n  if (point.source === 'collected' && point.value) {\n    interviewQA.push({\n      topic: key,\n      question: point.question || 'Information provided by founder',\n      answer: point.value,\n      turn: point.turn || 0\n    });\n  }\n}\n// Sort by turn order for chronological context\ninterviewQA.sort((a, b) => a.turn - b.turn);\n\nconst summary = {\n  idea_summary: collected.idea_core || state.idea_description || 'Business idea',\n  target_customer: collected.customer_segment || 'TBD',\n  problem: collected.problem_statement || 'TBD',\n  solution: collected.solution_description || 'TBD',\n  competition: collected.competitors_direct || 'TBD',\n  business_model: collected.revenue_model || 'TBD',\n  go_to_market: collected.gtm_channels || 'TBD',\n  founder: collected.founder_background || 'TBD',\n  financials: collected.funding_needs || 'TBD',\n  traction: collected.existing_traction || 'TBD'\n};\n\nlet totalWeight = 0, collectedWeight = 0;\nfor (const [_, point] of Object.entries(state.data_points)) {\n  totalWeight += point.weight;\n  if (point.source === 'collected') collectedWeight += point.weight;\n}\nconst finalMetrics = { confidence_score: Math.round((collectedWeight / totalWeight) * 100) };\n\nconst endMessage = `Great! I've gathered everything I need for your **${summary.idea_summary}** business plan.\\n\\n📊 **Confidence: ${finalMetrics.confidence_score}%**\\n\\nGenerating your business plan now. You'll receive an email shortly with:\\n- Business Plan\\n- Positioning Strategy\\n- Competitive Analysis\\n\\nThank you! 🚀`;\n\nreturn [{\n  json: {\n    state: state,\n    summary: summary,\n    collected_data: collected,\n    interview_qa: interviewQA,\n    final_metrics: finalMetrics,\n    response: {\n      action: 'complete',\n      session_id: state.session_id,\n      message: endMessage,\n      turn: state.current_turn,\n      metrics: finalMetrics,\n      interview_complete: true\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1728,16],"id":"037f8fee-30a8-4396-ba26-48904f502353","name":"11_Generate_Summary"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"UmBoWSlnmTwErtTS","mode":"list","cachedResultName":"forge_session","cachedResultUrl":"/projects/ZF6g2jNHixZsE8l5/datatables/UmBoWSlnmTwErtTS"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.state.session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"summary":"={{ JSON.stringify($json.summary) }}","collected_data":"={{ JSON.stringify($json.collected_data) }}","final_confidence":"={{ $json.final_metrics.confidence_score }}","status":"researching","interview_completed_at":"={{ $now.toISO() }}","current_turn":0,"confidence_score":0},"matchingColumns":[],"schema":[{"id":"session_id","displayName":"session_id","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"current_turn","displayName":"current_turn","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"confidence_score","displayName":"confidence_score","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"collected_data","displayName":"collected_data","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"final_confidence","displayName":"final_confidence","required":false,"defaultMatch":false,"display":true,"type":"number","readOnly":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"updated_at","displayName":"updated_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false},{"id":"interview_completed_at","displayName":"interview_completed_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1936,16],"id":"df2b506a-232a-4e38-ab59-c78a97b2c566","name":"12_Save_Interview_Complete"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($node['11_Generate_Summary'].json.response) }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2304,-288],"id":"0adea27b-cb63-477b-b067-8a5f76aea3b7","name":"13_Respond_Complete"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3312,1024],"id":"de215933-af23-45b2-9e22-40d973e1f38f","name":"Wait","webhookId":"b9cabde6-560b-402b-91ab-b460fead59a1"},{"parameters":{"resource":"Datasets","datasetId":"={{ $('18_Reddit').item.json.defaultDatasetId }}","offset":{}},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[3472,864],"id":"74e42d01-5a19-4ba0-b2f9-95609fd04dd6","name":"Get dataset items","credentials":{"apifyApi":{"id":"HkjvmIAigR04GJWv","name":"Apify account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3888,576],"id":"de451bb9-d117-4c96-9312-33b6eee93113","name":"Wait1","webhookId":"b9cabde6-560b-402b-91ab-b460fead59a1"},{"parameters":{"folderId":"1NDfD6TdEyDERIZnBfPt2IU8C_nxRd1sR","title":"={{ $json.idea_summary }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[6240,576],"id":"2383257d-52c4-4de2-b315-b456dbc5a10a","name":"Create a document","credentials":{"googleDocsOAuth2Api":{"id":"Sf4pf89HJKXX0IQw","name":"Google Docs account"}}},{"parameters":{"operation":"update","documentURL":"={{ $node['Create a document'].json.id }}","actionsUi":{"actionFields":[{"action":"insert","text":"={{ $node['28_Combine'].json.content }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[6448,576],"id":"dddecaba-ce94-409c-9d43-8a46515b72ea","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"Sf4pf89HJKXX0IQw","name":"Google Docs account"}}},{"parameters":{"numberInputs":8},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5568,560],"id":"84504829-ca57-4d8b-a2fb-24926ca5bc9a","name":"Merge"},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.queries.why_now_queries[0] }}","options":{}},"id":"17f-why-now","name":"17f_Tavily_WhyNow","type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,784],"credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.queries.proof_signal_queries[0] }}","options":{}},"id":"17g-proof","name":"17g_Tavily_ProofSignals","type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,1184],"credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['15_Parse_Queries'].json.queries.keyword_queries[0] }} search volume SEO","options":{}},"id":"17h-keywords","name":"17h_Tavily_Keywords","type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[3312,1360],"credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a market timing analyst. Create a compelling 'Why Now' analysis document explaining why this is the perfect time for this business.\n\nSections to include:\n1. Market Timing Summary - Why this moment matters\n2. Technology Enablers - What tech shifts make this possible now\n3. Market Shifts - Recent changes creating opportunity\n4. Regulatory/Cultural Changes - External factors enabling success\n5. Competitive Window - Why the timing is right vs competitors\n6. Risk of Waiting - What happens if they don't act now\n7. Supporting Evidence - Data points and trends backing up the timing\n\nUse specific data from the research. Be compelling but factual. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\n\nFOUNDER'S PERSPECTIVE ON TIMING:\n{{ JSON.stringify($json.interview_qa.filter(q => q.topic.includes('why_now') || q.topic.includes('timing')), null, 2) }}\n\nWHY NOW RESEARCH:\n{{ JSON.stringify($json.why_now_factors, null, 2) }}\n\nMARKET TRENDS:\n{{ $json.synthesis_raw }}\n\nCreate a compelling Why Now analysis document."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.4}},"id":"26d-whynow-doc","name":"26d_Why_Now","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,592],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a demand validation analyst. Create a Proof Signals document that provides evidence of market demand for this business idea.\n\nSections to include:\n1. Demand Validation Summary - Overall proof of market need\n2. Search Demand Evidence - Google Trends data, search volume insights\n3. Community Pain Points - Direct quotes from Reddit, forums, HackerNews\n4. Feature Requests Found - What people are asking for\n5. Competitor Complaints - What users dislike about existing solutions\n6. Sentiment Analysis - Overall sentiment about the problem/space\n7. Demand Score - Rate the proof of demand (1-100) with justification\n8. Validation Recommendations - Next steps to further validate\n\nInclude DIRECT QUOTES from users where available. Be specific with numbers. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nPROBLEM: {{ $json.summary.problem }}\n\nPROOF SIGNALS DATA:\n{{ JSON.stringify($json.proof_signals, null, 2) }}\n\nSYNTHESIS (community_signals and proof_of_demand sections):\n{{ $json.synthesis_raw }}\n\nCreate a comprehensive Proof Signals document with evidence of demand."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.3}},"id":"26e-proof-doc","name":"26e_Proof_Signals","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,784],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are an SEO and keyword strategist. Create a Keywords & SEO Opportunity document for this business.\n\nSections to include:\n1. Keyword Strategy Overview - Primary positioning and search strategy\n2. Primary Keywords - Main keywords to target (with estimated search intent)\n3. Long-Tail Opportunities - Specific, lower-competition keywords\n4. Question Keywords - 'How to', 'What is', 'Best' type queries\n5. Competitor Keywords - Terms competitors rank for that you should target\n6. Content Topic Clusters - Groups of related keywords for content strategy\n7. Local/Niche Keywords - If applicable, geographic or niche-specific terms\n8. Paid Search Recommendations - Keywords worth bidding on\n9. Quick Win Keywords - Low competition, high relevance opportunities\n\nBe specific with keyword suggestions. Output in markdown format with tables where helpful."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nCOMPETITION: {{ $json.summary.competition }}\n\nKEYWORD RESEARCH DATA:\n{{ JSON.stringify($json.keyword_data, null, 2) }}\n\nSYNTHESIS (keyword_opportunities section):\n{{ $json.synthesis_raw }}\n\nFOUNDER'S TARGET SEARCH TERMS:\n{{ JSON.stringify($json.interview_qa.filter(q => q.topic.includes('search') || q.topic.includes('keyword')), null, 2) }}\n\nCreate a comprehensive Keywords & SEO strategy document."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.4}},"id":"26f-keywords-doc","name":"26f_Keywords_SEO","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,976],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a customer research specialist. Create a detailed Audience Customer Profile (ACP) document.\n\nSections to include:\n1. Customer Profile Summary - One paragraph overview of the ideal customer\n2. Demographics - Age, income, location, job title, company size\n3. Psychographics - Values, fears, aspirations, motivations\n4. Behavioral Patterns - Where they spend time online, what they read, how they buy\n5. Pain Points Deep Dive - Specific frustrations, ranked by intensity\n6. Current Solutions - What they use now and why it's inadequate\n7. Buying Triggers - What events cause them to seek a solution\n8. Objections & Concerns - What might stop them from buying\n9. Day in the Life - Narrative scenario of their typical day and where the problem fits\n10. Customer Quotes - Direct quotes from research showing their voice\n\nBe specific and vivid. Use research data to back up claims. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\n\nINTERVIEW INSIGHTS ABOUT CUSTOMER:\n{{ JSON.stringify($json.interview_qa.filter(q => q.topic.includes('customer') || q.topic.includes('demographics') || q.topic.includes('hangouts') || q.topic.includes('pain')), null, 2) }}\n\nCOMMUNITY SIGNALS (real user voices):\n{{ JSON.stringify($json.proof_signals, null, 2) }}\n\nSYNTHESIS (customer_intelligence section):\n{{ $json.synthesis_raw }}\n\nCreate a detailed Audience Customer Profile document."}]},"builtInTools":{},"options":{"maxTokens":5000,"temperature":0.5}},"id":"26g-acp-doc","name":"26g_Customer_Profile","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,1168],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list"},"responses":{"values":[{"role":"system","content":"You are a value proposition strategist. Create a Value Equation analysis document.\n\nThe Value Equation framework: Value = (Dream Outcome × Perceived Likelihood of Success) / (Time to Result × Effort Required)\n\nSections to include:\n1. Value Equation Summary - Overall value score and positioning\n2. Dream Outcome Analysis\n   - What transformation does the customer achieve?\n   - How significant is this outcome to them?\n   - Score: 1-10 with justification\n3. Perceived Likelihood of Success\n   - Why will customers believe this solution works?\n   - What proof/credibility exists?\n   - Score: 1-10 with justification\n4. Time to Result\n   - How quickly do customers see value?\n   - What's the time to first win?\n   - Score: 1-10 (lower is better) with justification\n5. Effort Required\n   - What friction exists in using the solution?\n   - What does the customer need to do?\n   - Score: 1-10 (lower is better) with justification\n6. Overall Value Score Calculation\n   - Show the math: (Dream × Likelihood) / (Time × Effort)\n   - Interpret what this means\n7. Value Optimization Recommendations\n   - How to increase Dream Outcome\n   - How to increase Perceived Likelihood\n   - How to decrease Time to Result\n   - How to decrease Effort Required\n\nBe analytical and specific. Output in markdown format."},{"content":"=BUSINESS: {{ $json.summary.idea_summary }}\nSOLUTION: {{ $json.summary.solution }}\nTARGET CUSTOMER: {{ $json.summary.target_customer }}\nPROBLEM: {{ $json.summary.problem }}\n\nINTERVIEW INSIGHTS:\n{{ JSON.stringify($json.interview_qa, null, 2) }}\n\nCOMPETITIVE CONTEXT:\n{{ $json.synthesis_raw }}\n\nCreate a comprehensive Value Equation analysis."}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.4}},"id":"26h-value-eq-doc","name":"26h_Value_Equation","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[5104,1360],"credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nfunction extractText(item, fallback) {\n  if (!item?.json) return fallback;\n  const json = item.json;\n\n  // OpenAI Responses API format - output[0].content[0].text\n  if (Array.isArray(json.output) && json.output[0]?.content?.[0]?.text) {\n    return json.output[0].content[0].text;\n  }\n  // OpenAI langchain node v2.1 - message.content is a string\n  if (typeof json.message?.content === 'string') {\n    return json.message.content;\n  }\n  // Array format (older versions) - message.content[0].text\n  if (Array.isArray(json.message?.content) && json.message.content[0]?.text) {\n    return json.message.content[0].text;\n  }\n  // Direct output field (string)\n  if (typeof json.output === 'string') return json.output;\n  if (typeof json.text === 'string') return json.text;\n\n  return fallback;\n}\n\n// Items are in order of Merge inputs (0-7)\nconst documents = {\n  business_plan: extractText(items[0], 'Business plan generation failed'),\n  positioning: extractText(items[1], 'Positioning strategy generation failed'),\n  competitive_analysis: extractText(items[2], 'Competitive analysis generation failed'),\n  why_now: extractText(items[3], 'Why Now analysis generation failed'),\n  proof_signals: extractText(items[4], 'Proof Signals generation failed'),\n  keywords_seo: extractText(items[5], 'Keywords & SEO generation failed'),\n  customer_profile: extractText(items[6], 'Customer Profile generation failed'),\n  value_equation: extractText(items[7], 'Value Equation generation failed')\n};\n\nreturn [{\n  json: {\n    ...documents,\n    document_count: Object.keys(documents).length,\n    generated_at: new Date().toISOString()\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[5792,576],"id":"b3425685-2ca6-421c-a98d-ae920fbc71c5","name":"27_Code in JavaScript"}],"connections":{"33_Gmail":{"main":[[{"node":"34_Done","type":"main","index":0}]]},"32_Save_Final":{"main":[[{"node":"33_Gmail","type":"main","index":0}]]},"28_Combine":{"main":[[{"node":"Create a document","type":"main","index":0}]]},"26b_Positioning":{"main":[[{"node":"Merge","type":"main","index":1}]]},"26a_Business_Plan":{"main":[[{"node":"Merge","type":"main","index":0}]]},"25_Split_Docs":{"main":[[{"node":"26c_Competitive","type":"main","index":0},{"node":"26b_Positioning","type":"main","index":0},{"node":"26a_Business_Plan","type":"main","index":0},{"node":"26d_Why_Now","type":"main","index":0},{"node":"26e_Proof_Signals","type":"main","index":0},{"node":"26f_Keywords_SEO","type":"main","index":0},{"node":"26g_Customer_Profile","type":"main","index":0},{"node":"26h_Value_Equation","type":"main","index":0}]]},"24_Parse":{"main":[[{"node":"25_Split_Docs","type":"main","index":0}]]},"23_Synthesis":{"main":[[{"node":"24_Parse","type":"main","index":0}]]},"22_Consolidate":{"main":[[{"node":"23_Synthesis","type":"main","index":0}]]},"21_Merge":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"17b_Tavily_Competitors":{"main":[[{"node":"21_Merge","type":"main","index":1}]]},"17a_Tavily_Market":{"main":[[{"node":"21_Merge","type":"main","index":0}]]},"16_Split_Research":{"main":[[{"node":"17e_Tavily_Trends","type":"main","index":0},{"node":"17d_Tavily_Business","type":"main","index":0},{"node":"17c_Tavily_Customer","type":"main","index":0},{"node":"17b_Tavily_Competitors","type":"main","index":0},{"node":"17a_Tavily_Market","type":"main","index":0},{"node":"17f_Tavily_WhyNow","type":"main","index":0},{"node":"17g_Tavily_ProofSignals","type":"main","index":0},{"node":"17h_Tavily_Keywords","type":"main","index":0},{"node":"19_Trends","type":"main","index":0},{"node":"18_Reddit","type":"main","index":0}]]},"15_Parse_Queries":{"main":[[{"node":"16_Split_Research","type":"main","index":0}]]},"14_Generate_Queries":{"main":[[{"node":"15_Parse_Queries","type":"main","index":0}]]},"00_Webhook_Entry":{"main":[[{"node":"01_Parse_Input","type":"main","index":0}]]},"01_Parse_Input":{"main":[[{"node":"02_Route_Action","type":"main","index":0}]]},"02_Route_Action":{"main":[[{"node":"03a_Initialize_State","type":"main","index":0}],[{"node":"04a_Load_State","type":"main","index":0}],[{"node":"10a_Load_For_Force_End","type":"main","index":0}],[{"node":"02_Fallback_Error","type":"main","index":0}]]},"03a_Initialize_State":{"main":[[{"node":"03b_Save_Initial_State","type":"main","index":0}]]},"03b_Save_Initial_State":{"main":[[{"node":"03c_Generate_Opening","type":"main","index":0}]]},"03c_Generate_Opening":{"main":[[{"node":"03d_Respond_Start","type":"main","index":0}]]},"04a_Load_State":{"main":[[{"node":"04b_Prepare_Context","type":"main","index":0}]]},"04b_Prepare_Context":{"main":[[{"node":"04c_Check_Must_End","type":"main","index":0}]]},"04c_Check_Must_End":{"main":[[{"node":"11_Generate_Summary","type":"main","index":0}],[{"node":"05_AI_Agent","type":"main","index":0}]]},"05_AI_Agent":{"main":[[{"node":"06_Process_Agent_Response","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"05_AI_Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"05_AI_Agent","type":"ai_memory","index":0}]]},"Extract Data Tool":{"ai_tool":[[{"node":"05_AI_Agent","type":"ai_tool","index":0}]]},"End Interview Tool":{"ai_tool":[[{"node":"05_AI_Agent","type":"ai_tool","index":0}]]},"06_Process_Agent_Response":{"main":[[{"node":"07_Save_State","type":"main","index":0}]]},"07_Save_State":{"main":[[{"node":"08_Check_Should_End","type":"main","index":0}]]},"08_Check_Should_End":{"main":[[{"node":"11_Generate_Summary","type":"main","index":0}],[{"node":"09_Respond_Continue","type":"main","index":0}]]},"10a_Load_For_Force_End":{"main":[[{"node":"10b_Prepare_Force_End","type":"main","index":0}]]},"10b_Prepare_Force_End":{"main":[[{"node":"11_Generate_Summary","type":"main","index":0}]]},"11_Generate_Summary":{"main":[[{"node":"12_Save_Interview_Complete","type":"main","index":0}]]},"12_Save_Interview_Complete":{"main":[[{"node":"14_Generate_Queries","type":"main","index":0},{"node":"13_Respond_Complete","type":"main","index":0}]]},"17d_Tavily_Business":{"main":[[{"node":"21_Merge","type":"main","index":3}]]},"17e_Tavily_Trends":{"main":[[{"node":"21_Merge","type":"main","index":4}]]},"18_Reddit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"19_Trends":{"main":[[{"node":"21_Merge","type":"main","index":9}]]},"17c_Tavily_Customer":{"main":[[{"node":"21_Merge","type":"main","index":2}]]},"Wait":{"main":[[{"node":"Get dataset items","type":"main","index":0}]]},"Get dataset items":{"main":[[{"node":"21_Merge","type":"main","index":6}]]},"Wait1":{"main":[[{"node":"22_Consolidate","type":"main","index":0}]]},"Create a document":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"26c_Competitive":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Update a document":{"main":[[{"node":"32_Save_Final","type":"main","index":0}]]},"Merge":{"main":[[{"node":"27_Code in JavaScript","type":"main","index":0}]]},"17f_Tavily_WhyNow":{"main":[[{"node":"21_Merge","type":"main","index":5}]]},"17g_Tavily_ProofSignals":{"main":[[{"node":"21_Merge","type":"main","index":7}]]},"17h_Tavily_Keywords":{"main":[[{"node":"21_Merge","type":"main","index":8}]]},"26d_Why_Now":{"main":[[{"node":"Merge","type":"main","index":3}]]},"26e_Proof_Signals":{"main":[[{"node":"Merge","type":"main","index":4}]]},"26f_Keywords_SEO":{"main":[[{"node":"Merge","type":"main","index":5}]]},"26g_Customer_Profile":{"main":[[{"node":"Merge","type":"main","index":6}]]},"26h_Value_Equation":{"main":[[{"node":"Merge","type":"main","index":7}]]},"27_Code in JavaScript":{"main":[[{"node":"28_Combine","type":"main","index":0}]]}},"authors":"Matthew Jones","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-17T02:21:08.726Z","id":78,"workflowId":"lrxOYOXoVDI734Pkbu2Zc","versionId":"8e2e9e4c-5a15-4bf9-be2f-82da027d65a5","event":"activated","userId":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9"}]}}