workflows/lean-version.json
{"updatedAt":"2026-01-16T20:56:02.000Z","createdAt":"2026-01-10T16:40:09.697Z","id":"F1qpqZgRWkv4YBnpdFBZM","name":"Lean version","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"path":"business-plan-lean","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1744,128],"id":"3d126ad9-392d-4869-a0b5-5b5970c0df38","name":"00_Webhook_Trigger","webhookId":"business-plan-lean"},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"Ioz4LOcSiH5aqpd7","mode":"list","cachedResultName":"idea_sessions"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.body.session_id }}"}]},"limit":1},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-1552,128],"id":"233afc0d-d36e-482a-abe1-92bd45fbd678","name":"01_Fetch_Session"},{"parameters":{"assignments":{"assignments":[{"id":"idea","name":"idea_summary","value":"={{ $json.idea_summary }}","type":"string"},{"id":"answers","name":"answers","value":"={{ $json.answers }}","type":"string"},{"id":"email","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"session","name":"session_id","value":"={{ $json.session_id }}","type":"string"},{"id":"industry","name":"industry","value":"={{ JSON.parse($json.answers).Q03 || 'technology' }}","type":"string"},{"id":"competitors","name":"competitors","value":"={{ JSON.parse($json.answers).Q23 || '' }}","type":"string"},{"id":"target","name":"target_customer","value":"={{ JSON.parse($json.answers).Q07 || '' }}","type":"string"},{"id":"problem","name":"problem","value":"={{ JSON.parse($json.answers).Q08 || '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1344,128],"id":"78d1bdfb-0a05-450f-a326-b268960751ba","name":"02_Extract_Key_Data"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":800,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-1152,128],"id":"98bde6df-cdf4-4be7-a2a3-f0aeb230f555","name":"03_Generate_Queries","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"queries","name":"queries","value":"={{ JSON.parse($json.message.content) }}","type":"object"},{"id":"idea","name":"idea_summary","value":"={{ $node['02_Extract_Key_Data'].json.idea_summary }}","type":"string"},{"id":"answers","name":"answers","value":"={{ $node['02_Extract_Key_Data'].json.answers }}","type":"string"},{"id":"session","name":"session_id","value":"={{ $node['02_Extract_Key_Data'].json.session_id }}","type":"string"},{"id":"email","name":"email","value":"={{ $node['02_Extract_Key_Data'].json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-768,128],"id":"0246651d-cf3b-483e-bacf-1021226742af","name":"04_Parse_Queries"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-576,128],"id":"0e5ae661-5a89-4101-8fa7-77e2633c9a0a","name":"05_Split_Parallel"},{"parameters":{"query":"={{ $node['04_Parse_Queries'].json.queries.tavily_queries[0] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[-272,-176],"id":"7b7b4cf0-e886-4dd0-b9e6-b8246af1cb8e","name":"06a_Tavily_Market","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['04_Parse_Queries'].json.queries.tavily_queries[1] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[-272,-32],"id":"61445fba-8d09-439d-8181-87f2aa2f0910","name":"06b_Tavily_Competitors","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['04_Parse_Queries'].json.queries.tavily_queries[2] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[-272,128],"id":"b063612d-4465-4d2c-9938-ec5e80510462","name":"06c_Tavily_Solutions","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['04_Parse_Queries'].json.queries.tavily_queries[3] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[-272,288],"id":"116fc60c-7519-4d50-b6e8-4ae650fe1e90","name":"06d_Tavily_Pain_Points","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"query":"={{ $node['04_Parse_Queries'].json.queries.tavily_queries[4] }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavily","typeVersion":1,"position":[-272,432],"id":"f2d349e2-b366-4a38-87b5-d70571f6112e","name":"06e_Tavily_Business_Models","credentials":{"tavilyApi":{"id":"Rz0DMQQtU6WbgUiN","name":"Tavily account"}}},{"parameters":{"operation":"Run an Actor"},"type":"@apify/n8n-nodes-apify.apify","typeVersion":1,"position":[-272,624],"id":"c7509858-8d63-449e-a251-10bd59aab7f6","name":"07_Reddit_Scrape"},{"parameters":{"operation":"google_trends","q":"={{ $node['04_Parse_Queries'].json.queries.google_trends_terms[0] }}","additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-serpapi.serpApi","typeVersion":1,"position":[-272,832],"id":"b0973cd7-63af-4b8a-ac9b-ee6628f4181f","name":"08_Google_Trends","credentials":{"serpApi":{"id":"ohTIV0dggwKFs8AR","name":"SerpApi account"}}},{"parameters":{"url":"=https://hn.algolia.com/api/v1/search?query={{ encodeURIComponent($node['04_Parse_Queries'].json.queries.hackernews_query) }}&tags=story&hitsPerPage=25","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,1024],"id":"b3087568-ea5b-41a7-8a36-ddd257ef840b","name":"09_HackerNews_FREE"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[32,224],"id":"10638495-2490-4d27-8276-1dba5c5401d4","name":"10_Merge_All_Research"},{"parameters":{"assignments":{"assignments":[{"id":"tavily","name":"tavily_research","value":"={\n  \"market\": {{ JSON.stringify($node['06a_Tavily_Market'].json) }},\n  \"competitors\": {{ JSON.stringify($node['06b_Tavily_Competitors'].json) }},\n  \"solutions\": {{ JSON.stringify($node['06c_Tavily_Solutions'].json) }},\n  \"pain_points\": {{ JSON.stringify($node['06d_Tavily_Pain_Points'].json) }},\n  \"business_models\": {{ JSON.stringify($node['06e_Tavily_Business_Models'].json) }}\n}","type":"string"},{"id":"reddit","name":"reddit_research","value":"={{ JSON.stringify($node['07_Reddit_Scrape'].json).slice(0, 30000) }}","type":"string"},{"id":"trends","name":"trends_research","value":"={{ JSON.stringify($node['08_Google_Trends'].json) }}","type":"string"},{"id":"hackernews","name":"hackernews_research","value":"={{ JSON.stringify($node['09_HackerNews_FREE'].json).slice(0, 20000) }}","type":"string"},{"id":"idea","name":"idea_summary","value":"={{ $node['04_Parse_Queries'].json.idea_summary }}","type":"string"},{"id":"answers","name":"answers","value":"={{ $node['04_Parse_Queries'].json.answers }}","type":"string"},{"id":"session","name":"session_id","value":"={{ $node['04_Parse_Queries'].json.session_id }}","type":"string"},{"id":"email","name":"email","value":"={{ $node['04_Parse_Queries'].json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[240,224],"id":"ead45575-99b0-43b3-8036-686d6846c84e","name":"11_Consolidate_Research"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":4000,"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[432,224],"id":"12ab3eb2-c393-4542-a91e-8524d758fdea","name":"12_Mega_Synthesis","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"synthesis","name":"research_synthesis","value":"={{ $json.message.content }}","type":"string"},{"id":"idea","name":"idea_summary","value":"={{ $node['11_Consolidate_Research'].json.idea_summary }}","type":"string"},{"id":"answers","name":"answers","value":"={{ $node['11_Consolidate_Research'].json.answers }}","type":"string"},{"id":"session","name":"session_id","value":"={{ $node['11_Consolidate_Research'].json.session_id }}","type":"string"},{"id":"email","name":"email","value":"={{ $node['11_Consolidate_Research'].json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,224],"id":"9e37ae43-ac93-4c80-99d4-47cb39047a97","name":"13_Prepare_For_Docs"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[832,224],"id":"32a8738e-f6af-4d19-801a-ab6a3199f64c","name":"14_Split_To_Docs"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":8000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1040,80],"id":"1bc261f8-a620-4161-a5eb-6451f8b67b4b","name":"15a_Business_Plan","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":6000,"temperature":0.4}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1040,288],"id":"cc8b20ca-7aea-45fe-8346-ec8f4ef9ff62","name":"15b_Positioning_Strategy","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4o"},"responses":{"values":[{}]},"builtInTools":{},"options":{"maxTokens":6000,"temperature":0.3}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1040,480],"id":"9e4c3cf8-57ce-48c1-9b1e-2c867c4aa89f","name":"15c_Competitive_Analysis","credentials":{"openAiApi":{"id":"6sqHP16FdkQ28x8i","name":"OpenAi account"}}},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[1328,288],"id":"7b76f104-c377-47fb-82d3-3457ccc49c25","name":"16_Merge_Documents"},{"parameters":{"jsCode":"const session_id = $node['13_Prepare_For_Docs'].json.session_id;\nconst email = $node['13_Prepare_For_Docs'].json.email;\nconst idea = $node['13_Prepare_For_Docs'].json.idea_summary;\n\nconst businessPlan = $node['15a_Business_Plan'].json.message.content;\nconst positioning = $node['15b_Positioning_Strategy'].json.message.content;\nconst competitive = $node['15c_Competitive_Analysis'].json.message.content;\n\nconst timestamp = new Date().toISOString().split('T')[0];\n\nconst combined = `# Complete Business Planning Package\n\n**Generated:** ${new Date().toISOString()}\n**Business:** ${idea}\n\n---\n\n# PART 1: BUSINESS PLAN\n\n${businessPlan}\n\n---\n\n# PART 2: POSITIONING & GO-TO-MARKET\n\n${positioning}\n\n---\n\n# PART 3: COMPETITIVE ANALYSIS\n\n${competitive}\n\n---\n\n*Generated by IdeaMate using Tavily, Reddit, Google Trends, and Hacker News research.*\n`;\n\nreturn [{\n  json: {\n    filename: `Business_Package_${session_id}_${timestamp}.md`,\n    content: combined,\n    session_id,\n    email,\n    idea_summary: idea,\n    business_plan: businessPlan,\n    positioning: positioning,\n    competitive: competitive\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,288],"id":"b3f20192-9c2a-4e38-b8a7-b40c222ed385","name":"17_Combine_Documents"},{"parameters":{"method":"POST","url":"https://api.cloudconvert.com/v2/jobs","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"tasks\": {\n    \"import-md\": {\n      \"operation\": \"import/raw\",\n      \"file\": {{ JSON.stringify($json.content) }},\n      \"filename\": \"document.md\"\n    },\n    \"convert-pdf\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-md\",\n      \"output_format\": \"pdf\",\n      \"engine\": \"pandoc\"\n    },\n    \"convert-docx\": {\n      \"operation\": \"convert\",\n      \"input\": \"import-md\",\n      \"output_format\": \"docx\",\n      \"engine\": \"pandoc\"\n    },\n    \"export-pdf\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-pdf\"\n    },\n    \"export-docx\": {\n      \"operation\": \"export/url\",\n      \"input\": \"convert-docx\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1728,288],"id":"d1eff947-f458-4ff5-ae6f-c827099e634c","name":"18_Convert_PDF_DOCX"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1936,288],"id":"82329a0b-302d-4441-b3a2-21d33870b979","name":"19_Wait_Convert","webhookId":"e7640c52-5288-4eb8-b981-dbc5dd777acf"},{"parameters":{"url":"=https://api.cloudconvert.com/v2/jobs/{{ $node['18_Convert_PDF_DOCX'].json.data.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2128,288],"id":"352596de-bbce-44e4-b1aa-2f08f78cf0f4","name":"20_Get_Download_URLs"},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"Ioz4LOcSiH5aqpd7","mode":"list","cachedResultName":"idea_sessions"},"filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $node['17_Combine_Documents'].json.session_id }}"}]},"columns":{"mappingMode":"defineBelow","value":{"research_synthesis":"={{ $node['13_Prepare_For_Docs'].json.research_synthesis }}","document_business_plan":"={{ $node['17_Combine_Documents'].json.business_plan }}","document_positioning":"={{ $node['17_Combine_Documents'].json.positioning }}","document_competitive":"={{ $node['17_Combine_Documents'].json.competitive }}","pdf_url":"={{ $json.data.tasks.find(t => t.name === 'export-pdf').result.files[0].url }}","docx_url":"={{ $json.data.tasks.find(t => t.name === 'export-docx').result.files[0].url }}","completed_at":"={{ $now.toISO() }}","status":"complete"},"matchingColumns":[],"schema":[]},"options":{}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[2336,288],"id":"83c9eefe-4064-499d-b33a-9ad1b3b85e9b","name":"21_Save_To_Database"},{"parameters":{"fromEmail":"noreply@yourdomain.com","toEmail":"={{ $node['17_Combine_Documents'].json.email }}","subject":"🚀 Your Business Plan is Ready!","html":"=<html>\n<body style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px;\">\n  <h1 style=\"color: #2563eb;\">Your Business Plan is Ready! 🎉</h1>\n  \n  <p>We've completed research and analysis for:</p>\n  <blockquote style=\"background: #f3f4f6; padding: 15px; border-left: 4px solid #2563eb;\">\n    <strong>{{ $node['17_Combine_Documents'].json.idea_summary }}</strong>\n  </blockquote>\n  \n  <h3>📦 Your Package Includes:</h3>\n  <ul>\n    <li>Comprehensive Business Plan</li>\n    <li>Positioning & GTM Strategy</li>\n    <li>Competitive Analysis</li>\n  </ul>\n  \n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"{{ $json.data.tasks.find(t => t.name === 'export-pdf').result.files[0].url }}\" \n       style=\"background: #2563eb; color: white; padding: 14px 28px; text-decoration: none; border-radius: 6px; font-weight: bold; margin: 5px; display: inline-block;\">\n      📥 Download PDF\n    </a>\n    <a href=\"{{ $json.data.tasks.find(t => t.name === 'export-docx').result.files[0].url }}\" \n       style=\"background: #059669; color: white; padding: 14px 28px; text-decoration: none; border-radius: 6px; font-weight: bold; margin: 5px; display: inline-block;\">\n      📄 Download DOCX\n    </a>\n  </div>\n  \n  <p style=\"color: #dc2626; font-size: 14px;\">⚠️ Links expire in 48 hours</p>\n  \n  <hr style=\"margin: 30px 0;\">\n  <p style=\"color: #6b7280; font-size: 12px;\">🔒 Your data is automatically deleted after 7 days.</p>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2528,288],"id":"b33b7429-3f5a-4d77-995b-e952b8ad72de","name":"22_Send_Email","webhookId":"e98aba5c-aa56-4551-affe-3af741d1b2fd"},{"parameters":{"respondWith":"json","responseBody":"={\"success\": true, \"message\": \"Business plan generated and sent\"}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[2736,288],"id":"4ac888fc-8bab-48df-8e6d-54521b7112a7","name":"23_Respond_Success"}],"connections":{"00_Webhook_Trigger":{"main":[[{"node":"01_Fetch_Session","type":"main","index":0}]]},"01_Fetch_Session":{"main":[[{"node":"02_Extract_Key_Data","type":"main","index":0}]]},"02_Extract_Key_Data":{"main":[[{"node":"03_Generate_Queries","type":"main","index":0}]]},"03_Generate_Queries":{"main":[[{"node":"04_Parse_Queries","type":"main","index":0}]]},"04_Parse_Queries":{"main":[[{"node":"05_Split_Parallel","type":"main","index":0}]]},"05_Split_Parallel":{"main":[[{"node":"06a_Tavily_Market","type":"main","index":0},{"node":"06b_Tavily_Competitors","type":"main","index":0},{"node":"06c_Tavily_Solutions","type":"main","index":0},{"node":"06d_Tavily_Pain_Points","type":"main","index":0},{"node":"06e_Tavily_Business_Models","type":"main","index":0},{"node":"07_Reddit_Scrape","type":"main","index":0},{"node":"08_Google_Trends","type":"main","index":0},{"node":"09_HackerNews_FREE","type":"main","index":0}]]},"06a_Tavily_Market":{"main":[[{"node":"10_Merge_All_Research","type":"main","index":0}]]},"06b_Tavily_Competitors":{"main":[[{"node":"10_Merge_All_Research","type":"main","index":1}]]},"10_Merge_All_Research":{"main":[[{"node":"11_Consolidate_Research","type":"main","index":0}]]},"11_Consolidate_Research":{"main":[[{"node":"12_Mega_Synthesis","type":"main","index":0}]]},"12_Mega_Synthesis":{"main":[[{"node":"13_Prepare_For_Docs","type":"main","index":0}]]},"13_Prepare_For_Docs":{"main":[[{"node":"14_Split_To_Docs","type":"main","index":0}]]},"14_Split_To_Docs":{"main":[[{"node":"15a_Business_Plan","type":"main","index":0},{"node":"15b_Positioning_Strategy","type":"main","index":0},{"node":"15c_Competitive_Analysis","type":"main","index":0}]]},"15a_Business_Plan":{"main":[[{"node":"16_Merge_Documents","type":"main","index":0}]]},"15b_Positioning_Strategy":{"main":[[{"node":"16_Merge_Documents","type":"main","index":1}]]},"16_Merge_Documents":{"main":[[{"node":"17_Combine_Documents","type":"main","index":0}]]},"17_Combine_Documents":{"main":[[{"node":"18_Convert_PDF_DOCX","type":"main","index":0}]]},"18_Convert_PDF_DOCX":{"main":[[{"node":"19_Wait_Convert","type":"main","index":0}]]},"19_Wait_Convert":{"main":[[{"node":"20_Get_Download_URLs","type":"main","index":0}]]},"20_Get_Download_URLs":{"main":[[{"node":"21_Save_To_Database","type":"main","index":0}]]},"21_Save_To_Database":{"main":[[{"node":"22_Send_Email","type":"main","index":0}]]},"22_Send_Email":{"main":[[{"node":"23_Respond_Success","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"fbe178e3-8ea0-4cbe-baff-d9aef854cd85","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-01-10T16:40:09.700Z","createdAt":"2026-01-10T16:40:09.700Z","role":"workflow:owner","workflowId":"F1qpqZgRWkv4YBnpdFBZM","projectId":"ZF6g2jNHixZsE8l5","project":{"updatedAt":"2026-01-08T17:38:36.128Z","createdAt":"2026-01-08T17:38:30.532Z","id":"ZF6g2jNHixZsE8l5","name":"Matthew Jones <matt@mattjonesphotography.com>","type":"personal","icon":null,"description":null,"creatorId":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","projectRelations":[{"updatedAt":"2026-01-08T17:38:30.533Z","createdAt":"2026-01-08T17:38:30.533Z","userId":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","projectId":"ZF6g2jNHixZsE8l5","user":{"updatedAt":"2026-01-16T22:56:58.470Z","createdAt":"2026-01-08T17:38:28.760Z","id":"f8625e92-ecbd-46f7-a1ea-92b8b6b8eba9","email":"matt@mattjonesphotography.com","firstName":"Matthew","lastName":"Jones","personalizationAnswers":null,"settings":{"userActivated":true,"userClaimedAiCredits":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"lrxOYOXoVDI734Pkbu2Zc","userActivatedAt":1768334271574,"npsSurvey":{"responded":true,"lastShownAt":1768604212976}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-16","isPending":false}}]}}],"tags":[],"activeVersion":null}